[2018-06-19 20:09] ashleygwilliams opened #2 "set up CI"
appveyor and travis

[2018-06-19 20:09] ashleygwilliams opened #3 "publish"

[2018-06-19 20:10] ashleygwilliams opened #4 "contributing.md"

[2018-06-19 20:10] ashleygwilliams opened #5 "code of conduct"

[2018-06-19 20:25] ashleygwilliams opened #7 "should we build binaries?"
curious what you think @killercup - not sure if binaries really make sense for a cargo add-on, but interested in your thoughts.

[2018-06-19 20:46] killercup commented on #7
One the one hand, it can't really hurt to provide pre-built binaries for some common platforms.

On the other hand, cargo subcommands is literally what we say `cargo install` should be used for 🤷‍♂️

[2018-06-19 20:50] ashleygwilliams commented on #7
yeah ok- i'm gonna defer building binaries for now. doesn't seem too useful. one day, if someone comes through here and re comments on this issue, i'll open it up and do it ;)

[2018-06-19 20:50] #7 closed

[2018-06-19 21:24] ashleygwilliams opened #8 "usage documentation"
let's add some basic usage documentation to the readme

@killercup if you wanna do this go for it- otherwise i'll find sometime, perhaps today

[2018-06-19 21:26] ashleygwilliams opened #9 "testing"
let's have some!

[2018-06-19 21:38] ashleygwilliams commented on #8
no rush, tomorrow morning sounds great

[2018-06-19 21:40] #2 closed

[2018-06-19 22:42] #4 closed

[2018-06-19 22:49] ashleygwilliams commented on #8
haha oh no i got impatient #12

[2018-06-19 23:11] ashleygwilliams opened #13 "doesn't seem to be replacing project-name and authors"
[code]

[2018-07-04 14:50] rahul-thakoor opened #14 "handle projects that contain other templating languages"
Hello!
I am trying to make a template for creating mdbooks. `cargo-generate` currently analyses the `Cargo.toml` file and then tries to replace the placeholders. It would be great to have mdbook templates, however, the `book.toml` file should be parsed instead. Having a `--book` flag could direct `cargo-generate` to parse `book.toml`. Any suggestions?

[2018-07-10 13:43] ashleygwilliams opened #15 "fix cargo fmt check"

[2018-07-10 13:44] #8 closed

[2018-07-10 21:10] epage commented on #14
From my quick glance at the code, it seems to do template replacements on all files, not just Cargo.toml.  In theory a `book.toml` would also work.

[2018-07-10 21:23] epage opened #17 "Custom variables."
For my  python projects, I've found cookiecutter's custom variables really helpful.  I'm assuming it would be the same for `cargo-generate` (including unexpected cases like #14).

Ideas from cookiecutter
- variables are an ordered set of keys/values.
  - Keys are variable names
  - Values are defaults.  The values are [templates that are rendered using all the previous values](https://cookiecutter

[2018-07-10 21:30] epage opened #18 "Pre/Post Hooks"
This is something else that has been handy from [cookiecutter](https://cookiecutter.readthedocs.io/en/latest/advanced/hooks.html) but is more questionable due to security.

Use cases from my python cookiecutter translated to Rust.
- Custom SCM support
- Verifying ident (see #17)
- `cargo update && git add Cargo.lock` for bins

The main question is how would we handle this in Rust?
- shell scripts

[2018-07-11 15:30] ashleygwilliams commented on #15
closed by #16

[2018-07-11 15:30] #15 closed

[2018-07-11 18:11] steveklabnik opened #21 "A new clone fails `cargo test` on second test on Windows 10"
Example output:

[code]
stderr=
[code]

[2018-07-16 16:02] ashleygwilliams opened #23 "refactor/modularize"
in prep for publishing this and opening to contributors, let's break the src and tests up into modules

[2018-07-16 16:02] ashleygwilliams commented on #13
works now, sloved by #19

[2018-07-16 16:02] #13 closed

[2018-07-16 22:51] #23 closed

[2018-07-17 15:20] killercup commented on #21
Could be that we still use `fs::remove_dir_all` here:

https://github.com/ashleygwilliams/cargo-generate/blob/bb253c25e9cceefe131102a4ad6a4a0c0ded37fd/tests/integration/main.rs#L64

@steveklabnik, can replace that line with

[code]

and try it again on your Windows machine?

[2018-07-17 16:05] steveklabnik commented on #21
[code]

yup that fixes it

[2018-07-17 16:50] ashleygwilliams opened #26 "emoji"

[2018-07-17 18:04] ashleygwilliams opened #29 "document current placeholders"

[2018-07-17 18:33] #21 closed

[2018-07-17 18:42] #26 closed

[2018-07-17 21:50] ashleygwilliams commented on #29
closed by #28

[2018-07-17 21:50] #29 closed

[2018-07-18 10:44] ashleygwilliams commented on #3
closed by #32

[2018-07-18 10:44] #3 closed

[2018-07-18 10:45] ashleygwilliams commented on #9
closing based on work in #20 and wanting to make more granular issues

[2018-07-18 10:45] #9 closed

[2018-07-18 10:47] ashleygwilliams opened #33 "split test helpers into own module"

[2018-07-18 10:48] ashleygwilliams opened #34 "test substitution in files beyond cargo.toml"

[2018-07-18 14:43] rahul-thakoor commented on #14
hey there! Thanks @epage and @killercup.

So, I created a template here: https://github.com/rahul-thakoor/mdbook-template
Then:
`cargo-generate --git https://github.com/rahul-thakoor/mdbook-template.git`
I get the following error:

[code]

[2018-07-18 14:46] killercup commented on #14
Oh, that's a pretty bad error message!

I _think_ it fails because one the files in your repo a handlebars template – which uses the same syntax as liquid! So, we try to evaluate it…

I'm considering if we should only try to substitute values in files that end with `.template` (or `.tpl`) or something?

[2018-07-18 14:57] epage commented on #14
RE error message

We should probably chain in what file it failed on.  Anything else to improve the error messages?

RE Marking templates

Extensions are one option (`file.ext.liquid` is another option).  Another option is for when we add support for a configuration file, we could have a gitignore pattern for what files are templates or not.

[2018-07-19 22:43] fitzgen opened #37 "request: Repository URL variable"
Suitable for the "repository" field in `Cargo.toml`

[2018-07-19 22:44] fitzgen opened #38 "request: github username/repo variable"
Suitable for things like the travis CI badge support in `Cargo.toml`.

[2018-07-19 22:50] fitzgen opened #39 "Only works as `cargo-generate`, not `cargo generate`"
Doesn't work as `cargo generate`:

[code]

However it does work as `cargo-generate`:

[code]

[2018-07-19 23:12] fitzgen opened #40 "RFC: How to have CI for templates?"
The https://github.com/rustwasm/rust_wasm_template template has travis ci pre-configured. We use travis to make sure that the template doesn't break. But it *also* works out so that if you clone the template, all you have to do is flip the switch in your travis ci dashboard to also get ci set up and configured.

In the process of moving that template over to `cargo-generate`, the template's CI is

[2018-07-20 00:05] fitzgen opened #41 "{{crate_name}} isn't being turned to snake_case"
[code]

[2018-07-20 00:29] fitzgen commented on #40
Workaround: detect when teh template variables aren't filled out and tehn run `cargo-generate` on the template: https://github.com/rustwasm/rust_wasm_template/pull/16/commits/0318e23f516ce0346ee6c35938548a60f5ca5907

Is this the best solution for the problem?

[2018-07-20 06:37] migerh opened #42 "Document build dependencies"
I wanted to install cargo-generate in my WSL Ubuntu and ran into a few problems. One was with the openssl-sys crate that needs at least two additional packages that weren't installed on my system. The other was libssh2-sys that needs cmake. So in order to install cargo-generate I had to

    sudo apt-get install pkg-config libssl-dev cmake

first. The openssl-sys crate [has a guide](https://crates

[2018-07-20 08:33] ashleygwilliams commented on #40
i have also been thinking about how to make this work. my originally guess was running cargo-generate on the template in CI- though i'm not 100% certain that's the best strategy? (it is realistic to how it will be used tho, so perhaps it is.) we should have something for 0.2.0 for this- i think it's crucial.

[2018-07-20 08:37] ashleygwilliams commented on #42
hey @migerh - i'm working on OSX and the travis tests run on windows and travis(linux) and i haven't run into this issue- tho i totally believe that it is one for some operating systems. i would love a PR to document this- the key work left to be done is to figure out what systems need it!

if you make a PR to throw a warning in the readme stating that you may need to `sudo apt-get install pkg-con

[2018-07-20 08:43] killercup commented on #40
I believe this also depends very much on our decision on whether to require all files that should use substitutions to have a custom file name extension.

[2018-07-20 09:01] ashleygwilliams commented on #40
@killercup do you wanna open an issue for discussion around that? would love to hear folks thoughts--

[2018-07-20 09:02] #33 closed

[2018-07-20 09:12] killercup opened #43 "RFC: Only replace variables in files with specific extension?"
## Context

Currently, cargo-generate tries to find and replace all `{{ blocks }}` in all files. This is the most trivial implementation, but not necessarily the best or most user friendly one.

As written in <https://github.com/ashleygwilliams/cargo-generate/issues/14#issuecomment-405957200> and <https://github.com/ashleygwilliams/cargo-generate/issues/40#issuecomment-406536791>, an alternative m

[2018-07-20 09:13] killercup commented on #40
@ashleygwilliams here you go: #43

[2018-07-20 10:43] migerh commented on #42
Travis has a few things pre-installed, on ubuntu trusty `libssl-dev` for example is one of them:

[code]

In fact, the WSL ubuntu was the first time I ran into any trouble installing cargo-generate. All my other systems installed it just fine. OS X went through because openssl was already brewed because of python.

With a clean ubuntu docker container I was able to check what is required on ubuntu

[2018-07-20 14:41] #39 closed

[2018-07-20 15:03] migerh commented on #42
I'd love to but probably won't have a chance before sunday.

ashley williams <notifications@github.com> schrieb am Fr., 20. Juli 2018,
13:18:

[2018-07-23 12:06] ashleygwilliams commented on #42
closed by https://github.com/ashleygwilliams/cargo-generate/pull/45#pullrequestreview-139443049

[2018-07-23 12:06] #42 closed

[2018-07-25 18:21] killercup opened #46 "RFC: Sources of values"
e.g. "looking at cli params, env vars, global config files, or, in the end, by prompting the user"

[2018-07-25 18:22] killercup opened #47 "RFC: What can be a template?"
## Context

When executing cargo-generate a user needs to pass an identifier for the template they want to generate a project from.

## Questions

What can be such template identifiers?

How can we extract a cargo-generate compatible template from them?

## Possibles solutions

One or more of

- git repo
- directory
- crate
- sub dir in a repo

[2018-07-25 18:22] killercup opened #48 "RFC: Have a config file for cargo-generate?"
## Context

When cargo-generate tries to generate a project, it may require meta-information, e.g. which placeholders to look for, or how to find files to apply substitutions to. While currently, this is defined by hard-coded rules in the tool itself, in the future this might be configurable.

## Questions

Should templates be able to contain (optional) config files to pass parameters and meta inf

[2018-07-25 21:29] durka opened #49 "wrong argument handling when invoked as cargo subcommand"
This seems to be a common trap for subcommands...

[code]

[2018-07-25 21:31] durka commented on #47
If downloading from Github is going to be common, it seems like a good idea to support `username/repo` syntax instead of the full URL.

Also, what about gists?

[2018-07-25 21:33] durka opened #50 "suggestion: list of available templates"
Could there be a repository of templates somewhere? Maybe it could be hacked in as a category on crates.io.

[2018-07-26 00:35] theduke commented on #17
As posted on Reddit, my suggestion for variables:

`cargo-generate.toml ` in stand-alone repos and possibly in Cargo.toml for crates that are templates or crates that contain templates.
[code]

`lib.rs`
[code]

[2018-07-26 00:46] theduke opened #51 "Use proper template engine"
As mentioned on Reddit,
I think this crate is not very useful without more advanced customization based on variables.
This would require a template engine though.

Example:

`Cargo.toml`
[code]

`lib.rs`
[code]

Two options for a template engine that come to mind:

* https://github.com/Keats/tera (used it myself, works well)
* https://github.com/sunng87/handlebars-rust

[2018-07-26 01:05] theduke opened #52 "Reconsider subcommand name"
This might be trivial bike-shedding territory, but I'm not in love with the naming.
`generate` is very generic and doesn't communicate the intent all that clearly.

Some options I would like more:

* bootstrap
* kickstart

Actually, having this integrated into "cargo new"  might also be a cool option, although one that would probably take some time to get right.
Eg:
`cargo new --template=diesel-rs

[2018-07-26 01:41] ashleygwilliams commented on #52
hey! the long term goal is to get this integrated into cargo, but we'd like to spend sometime getting feedback first! as a result i don't think we'll bike shed the name.

[2018-07-26 01:41] #52 closed

[2018-07-26 01:44] ashleygwilliams commented on #51
hey! so the primary goal of this is so that you can easily bootstrap a project with a set of dependencies. think of templates almost like a way to receive a curated list of dependencies and an example of them working together. i think we are open to adding more things that can be replaced but for the moment i'm not convinced that conditional replacement is necessary.

i'd love to see an example yo

[2018-07-26 01:44] #51 closed

[2018-07-26 01:45] ashleygwilliams commented on #49
this was fixed by https://github.com/ashleygwilliams/cargo-generate/pull/44, we just need to cut a new release :)

[2018-07-26 01:45] #49 closed

[2018-07-26 02:03] ZhangHanDong opened #53 "provide short "gen" version of "generate" command"
Follow Rust's short philosophy，like `function`  to `fn`

`cargo-generate` change to `cargo-g` maybe better?

[2018-07-26 02:18] mmstick commented on #47
No reason not to support all the possible solutions.

[2018-07-26 08:04] I60R opened #54 "suggestion: cargo new --template <crate>:<template>"
Rationale:
1) Generating project code from templates is a basic and common task, and I think it should be provided by default rather than be shipped as external tool
2) It could be even easier for newcomers to get started with specific templates, since there will be less steps to do and less specific things to remember
3) It could be easier to provide project templates, since that assumes well def

[2018-07-26 12:01] ashleygwilliams commented on #54
this is our longterm intention! we'd like to start independent tho, so that we have the opportunity to churn and experiment more- we do completely agree tho that eventually merging with cargo is the way to go :)

[2018-07-26 12:01] #54 closed

[2018-07-26 12:01] ashleygwilliams commented on #53
i'm not a fan of `cargo-g` *but* i think we can make a short alias for cargo-gen ;)

[2018-07-26 13:20] ashleygwilliams opened #55 "0.2.0"
make a changelog, etc

[2018-07-26 20:48] ashleygwilliams commented on #41
i should have a test case for this with #34. gonna try to work on this right now.

[2018-07-26 21:22] ashleygwilliams opened #57 "refcator to use heck"
the ident_case lib has given us some trouble. to fix it i wrote my own function, but longterm we might want to move to `heck`, https://github.com/withoutboats/heck, as per a suggestion by @fitzgen

[2018-07-26 21:31] ashleygwilliams opened #58 "test authors substitution"

[2018-07-26 22:12] #41 closed

[2018-07-26 22:12] ashleygwilliams opened #59 "0.1.1"

[2018-07-26 22:14] ashleygwilliams commented on #34
closed by #56

[2018-07-26 22:15] #34 closed

[2018-07-27 10:43] ashleygwilliams commented on #59
closed by #61

[2018-07-27 10:43] #59 closed

[2018-07-27 11:20] csmoe commented on #57
I'll take care of this.

[2018-07-27 12:33] #57 closed

[2018-07-27 13:26] ashleygwilliams opened #63 "use heck instead of custom snake case function"
now that we are using heck (#62 solving #57) let's replace this custom function

https://github.com/ashleygwilliams/cargo-generate/blob/6de06711d35775b0d19fc7c9c91fb9188d6a9a94/src/template.rs#L29-L31

with heck functionality!

[2018-07-27 14:12] ZhangHanDong commented on #53
@ashleygwilliams Thanks

[2018-07-27 14:18] ashleygwilliams opened #65 "warn user if we change given name's case"
right now, we receive a name from the user, force it to kebab case, and make the project. we should check the user's entered name and warn them if we are changing the case of the name they passed.

[2018-07-27 14:19] ashleygwilliams opened #66 "force flag"
right now, we receive a project name from the user and then force it to kebab case. a user might not love this. let's give an option to force, which will skip the case check and conversion. `crate_name` should still be snake case, but `project-name` should be exactly whatever the user entered.

[2018-07-27 17:57] anirudhb opened #67 "remove libgit2 in favor of shelling out to git"
This would remove the dependency on Git, and we would just link in libgit2. It would require less things to be installed, especially when you start distributing this as a binary, since Rust statically links everything!

[2018-07-27 17:59] anirudhb commented on #47
I think if it has a Cargo.toml, it is a template.

[2018-07-27 18:00] anirudhb commented on #48
Have the template itself contain a `Parameters.toml`, and then cargo-generate could read from it and prompt the user?

[2018-07-27 18:31] killercup commented on #67
I think we are already using the git2 crate for everything in the main
binary, and it is a binding to libgit2

On Fri, 27 Jul 2018, 19:57 Anirudh Balaji, <notifications@github.com> wrote:

[2018-07-27 18:47] durka commented on #47
So I could then just cargo-generate any crate, and it would download it and
replace the author's name with mine? That seems kinda weird...

On Fri, Jul 27, 2018 at 1:59 PM, Anirudh Balaji <notifications@github.com>
wrote:

[2018-07-27 22:09] anirudhb commented on #67
Then I think your README is wrong :) See the dependency on `git`?

[2018-07-27 22:10] anirudhb commented on #47
Not like that! 😅
I was thinking if it _wasn't_ published to crates.io, then we could do that...

[2018-07-28 03:19] epage commented on #48
RE Format

Ordering is important and ideally we don't rely on parser-specific implementation details to get ordering.  From the toml spec:

Do we need `type` fields?  Personally, I hope string and [choice](https://cookiecutter.readthedocs.io/en/latest/advanced/choice_variables.html) good enough.

Values should be templates that are evaluated before the next question.

For more possibly-related tho

[2018-07-28 03:30] epage commented on #65
Other possible approaches
- Templates have validation code in a [hook](https://github.com/ashleygwilliams/cargo-generate/issues/18) that errors on an invalid name
- Ask for a human friendly name and then ask for the package name, offering a default that is a `heck` slug of the human friendly name.

[2018-07-28 03:33] epage opened #68 "Support conditional tags in templates"
Example from #51

Cargo.toml
[code]

lib.rs
[code]

Relevant tags
- if, elseif, else, unless for boolean ["choices"](https://github.com/ashleygwilliams/cargo-generate/issues/17)
- case / when for richer ["choices"](https://github.com/ashleygwilliams/cargo-generate/issues/17).

[2018-07-28 03:34] epage commented on #51
@theduke To add to what @ashleygwilliams said, a proper template language is being used (as compared to regexes or a runtime version of `format!`), Liquid.  The difference is this project is taking a conservative approach to what tags and filters are exposed, starting with nothing and expanding from there.

Already in another [issue](https://github.com/ashleygwilliams/cargo-generate/issues/48), I'

[2018-07-28 06:32] killercup commented on #67
It was added in #45. I'll look into it. For running the tests, the git CLI is required.

[2018-07-28 06:34] killercup commented on #47
People want to use this for mdbook repos too: #14

[2018-07-28 09:18] killercup commented on #67
@migerh, can you help me out here? In #45 you added that git is a requirement to building this crate. Was this because you wanted to run the tests, too, or does some other dependency require the git binary to exist?

If it's only because of the tests, I think this issue can be closed. Would you agree, @anirudhb?

[2018-07-28 10:42] migerh commented on #67
I was just collecting everything needed to compile cargo-generate and did not run any tests. But I also did not aim for a minimal list of dependencies. The minimal dependencies to build `libssh2-sys` on a vanilla `ubuntu:latest` docker  image are `cmake` and `zlib1g-dev`. Instead of describing how to install `zlib1g-dev` for macOs, Windows and various Linux distros I opted to link to the git insta

[2018-07-28 12:39] k0pernicus commented on #65
@ashleygwilliams Maybe I can work on that issue - if you are agree (and no one is already working on this one :))

[2018-07-28 15:52] #63 closed

[2018-07-28 20:35] migerh commented on #67
I only just now realized that I read lib**ssh2**-sys as lib**git2**-sys all this time 🤦‍♂️ Installing git just to get libssh2-sys to compile does not really make that much sense.

So I dug a little deeper. Turns out that the [git2](https://crates.io/crates/git2) crate brings libgit2 along and there's no need to install it on your system for git2 to compile:

libgit2 apparently uses cmake to compil

[2018-07-29 05:42] toVersus commented on #66
I can try this!

[2018-07-29 16:18] deg4uss3r opened #70 "update liquid dep, document date functionality"
While setting up my environment and templates I noticed a few areas that would be helpful to have a `{{date}}` placeholder. Might also be nice to have sub-date strings like `{{year}}` as well (e.g. for license, info).

Related to #46

[2018-07-29 16:24] deg4uss3r opened #71 "Support repository banches"
I set my templates up in one repository and was branching for differences in my templates (see [cli-templates](https://github.com/deg4uss3r/cli-template) for my rough drafts); however, as of now `cargo-generate` only supports main branch templating.

To me it makes sense to have all my custom templates in one repostory but have the ability to call them by branch, vice several different repositorie

[2018-07-30 04:10] rahul-thakoor commented on #43
Hey there!

Yes, we could have a file that lists all the files to be parsed.

[2018-07-30 04:14] rahul-thakoor commented on #47
Yes, in this case having a book.toml makes it a template.

Are we able to pass in local git repos? This could be helpful when creating and testing templates.

[2018-07-30 15:06] Freaky commented on #67
For what it's worth, I'd much rather a tool just call out to git if it's only doing simple stuff.

git2 adds 20 dependencies and well over a minute to build time, not to mention adding a lot more points of failure (libssh2-rs won't even build for me unless I manually set `LIBSSH2_SYS_USE_PKG_CONFIG=1`, which isn't default because it can cause other problems).

[2018-07-30 19:10] ashleygwilliams commented on #68
hey! so- this is a complex feature request and as i said in the last issue filed on this- it would be great if you could build a template meant to be used with this project that absolutely requires this feature. the example used seems to suggest some sort of pluggable web app framework, that i don't think exists in rust at the moment. either way, if you can show me a working template that folks ar

[2018-07-30 19:10] #68 closed

[2018-07-30 19:12] ashleygwilliams commented on #71
@deg4uss3r this is a good call and shouldn't be much overhead over what we are doing using git anyways! thanks for filing :)

[2018-07-30 19:12] ashleygwilliams commented on #70
i def see how year would be extremely useful... can you say more about the examples that would require a full date? thanks!

[2018-07-30 20:52] deg4uss3r commented on #71
Thanks @ashleygwilliams! If you'd like I could try to help with this issue :)

[2018-07-30 20:57] deg4uss3r commented on #70
The example I had though of yesterday was I had a "created on {{date}}" in my comments at the top of a test repository along with the description of what the application did. That's as far as I got!

I really like @epage's idea, allow the user to control it and give them as much info to widdle down themselves. I did a [quick start](https://github.com/deg4uss3r/cargo-generate/blob/date_placeholder/

[2018-07-30 20:59] ashleygwilliams commented on #71
that'd be great @deg4uss3r ! feel free to file a WIP PR to start, and always happy to help with questions if you have any :)

[2018-07-30 21:02] ashleygwilliams commented on #70
cool! yeah my main issue is trying to keep things simple, potentially surprisingly, choice is not always user--friendly. regardless, if this is something we could get out of the box, e.g. rust-liquid could support it, that'd be fantastic :) - anyone know folks from that team? if not, i can reach out

[2018-07-30 21:05] epage commented on #70
I am the maintainer of liquid-rs :).  In my rust-time, I am first trying to get some stuff out for CLI-WG.  After that I could look at making this work unless someone wants to be mentored on this.

This will require two parts
- add "now" support
- expose the `date` filter so you can add it without having to add all of the other filters.

[2018-07-30 21:08] ashleygwilliams commented on #70
well that is *incredibly* convenient :) are you interested in filing the issues? let me know- otherwise i can. i'll work on trying to solicit a contributor, worst case scenario, i can tackle this, probably next week.

[2018-07-30 21:10] epage commented on #70
Created https://github.com/cobalt-org/liquid-rust/issues/181

My expectation is I'll be able to get this by Saturday.

[2018-07-30 23:32] epage commented on #70
While waiting for my CI for another PR, I got https://github.com/cobalt-org/liquid-rust/issues/181 submitted and liquid v0.15.0 released (breaking change was from a different PR, changing f32->f64)

[2018-07-31 00:43] epage commented on #70
To take advantage of this
- Update liquid
- Add filter

Adding the filter will roughly be
[code]

[2018-07-31 09:04] DD5HT opened #73 "add `-n` short alias for `--name`"
There is already a short version of generate, why don't we add -n for name and -g for git?
Example:
`cargo gen -g https://github.com/user/template.git -n foo`

[2018-07-31 09:52] killercup commented on #70
I'm not entirely convinced this is a good way to implement this – simply, because we are kind of setting the decision to use liquid (or a very similar impl) in stone once people use this feature.

But, it _is_ very nice to have. Let's for for it.

[2018-07-31 11:35] DD5HT opened #74 "pyo3 minimal template"
I created a minimal template for [PyO3](https://github.com/PyO3/pyo3):
https://github.com/DD5HT/pyo3-template

[2018-07-31 13:32] ashleygwilliams commented on #74
added to the list of templates! this is awesome, thanks so much!

[2018-07-31 13:32] #74 closed

[2018-07-31 13:34] ashleygwilliams commented on #70
@killercup since we are pre 1.0 i am happy to add the functionality to see how folks like it, if by 1.0 we decide we need to implement it a different way, i think so long as we cover the feature, we can change the interface if we decide we need to. i feel very comfy saying, yes let's support dates, exactly what the interface is is something i think we can be flexible about.

[2018-07-31 13:37] ashleygwilliams opened #76 "check template pkg metadata for cargo gen version, warn on mismatch"
to help make it easier for us to proceed without breaking things, i'd like to propose that template authors be required to include a cargo-generate version in their cargo toml, e.g.

[code]

if the version doesn't exist in the cargo toml, we should WARN
if the version of cargo-generate on disk is different than the listed version, we should WARN

this should be fully semver feature full, so folks

[2018-07-31 13:39] killercup commented on #73
I assume the reason you want this is to type less? Then I'd rather see this:

No `--git` or `-g`, but allow passing _something_
that can we can interpret (a git-parsable URL for now) as a free argument.
Also, omit the `-n` completely and wait for cargo-generate to prompt you :)

[2018-07-31 13:41] killercup commented on #70
Agreed. That was basically my reason to write "Go for it", too :)

[2018-07-31 13:42] killercup commented on #76
- Assumes templates have a Cargo.toml file
- cf. #48 for cargo-generate specific config files

[2018-07-31 15:42] ashleygwilliams commented on #76
ah yeah, good call re templates have a Cargo.toml file. i think for the moment we can implement this with a cargo.toml entry and some other thing? not having one just produces a warn, and all current (2) templates that we know of do have a Cargo.toml.

i'm super hesitant re the config files... only because i dont think the UX is that great and i dont think having 100000 substitutions that you can

[2018-07-31 15:50] ashleygwilliams commented on #73
i mostly agree with @killercup - but in the sense of actionable requests from this- @killercup do you mind the `-n` short for `--name`? we can punt on the `--git` sitch til later (open another issue or something...)

[2018-07-31 16:00] killercup commented on #73
-n is fine

[2018-07-31 17:49] ashleygwilliams commented on #73
closed by #77

[2018-07-31 17:49] #73 closed

[2018-07-31 17:49] ashleygwilliams commented on #53
closed by #72

[2018-07-31 17:49] #53 closed

[2018-07-31 17:51] ashleygwilliams commented on #50
closed by #75 for the moment. as it grows we can come up with a more robust solution!

[2018-07-31 17:51] #50 closed

[2018-07-31 18:13] durka commented on #76
Are you planning to have `cargo generate` remove this key from Cargo.toml during generation? If not, you get

[code]

Another option is to use a separate stanza, like [docs.rs does](https://github.com/onur/docs.rs/pull/73), and which other cargo commands ignore:

[code]

[2018-07-31 18:52] ashleygwilliams commented on #76
good call @durka - that's how we should do it (if we do it in cargo.toml) :)

[2018-07-31 21:29] dcarosone opened #78 "Project examples as templates"
In #47, one of the possibilities noted is

I wanted to make a suggestion that's a little more extensive than this, and I think it's enough of an expansion to list as a separate issue.

A number of projects have `examples/` directories with cargo support for running them directly, and there's also a proposal to let cargo support larger per-directory examples in a sub-structure under there. These ar

[2018-08-01 10:00] DD5HT commented on #76
we could also check the age of a template. eg. the last push.
If it's old and without changes we could warn the user that it might break this solution would work without a .toml or config file, but would require git

[2018-08-02 01:30] ZhangHanDong commented on #53
Cool

[2018-08-02 16:21] dineshadepu opened #79 "improve error message when passed a git repo that does not exist"
I am getting an error while creating a cli-wg project `ggrs`.

[code]

[2018-08-02 16:27] japaric commented on #17
This is a use case from the embedded WG. I'm filling it here since it's related to the requested feature but feel free to move into its own issue if that makes sense.

To use the [cortex-m-quickstart] "template" we have the user `cargo-clone` the crate and then fill in some values manually. This last part is easy to get wrong so we have an extensive [troubleshooting] section to help the user fix t

[2018-08-02 16:36] killercup commented on #79
Yep, that template doesn't exist yet, see
https://github.com/rust-lang-nursery/cli-wg/issues/53 (and I should really add that TODO to the tutorial!)

We should improve the error message here. I think we can at least add some context (what repo, more info about the [git error type](https://docs.rs/git2/0.7.4/git2/struct.Error.html)), and also print out some common errors (like missing repos or miss

[2018-08-02 19:26] ashleygwilliams opened #80 "compile to wasm"
i want this to exist for npm init templates- but it doesn't. would be rad if i could compile this to wasm. no idea what the blockers are yet, but i am imagine libgit2 may give us problems... this may be a good reason to resolve #67 by removing libgit2 and shelling out to git (anyone using this tool would already have git installed)

[2018-08-02 19:27] ashleygwilliams opened #81 "split into shallow main and throw functionality in lib"
there is a universe (#80) where  i would like to use this tool as a library. it's a pretty common pattern for cli apps to have a shallow main that primarily uses a lib. we're real close to that, but we need a lib.rs to get it over the hump.

[2018-08-02 19:28] fitzgen commented on #80
git command line is also higher level and less footgun-y than libgit2

[2018-08-03 09:54] TeXitoi opened #82 "Do some cleanup on the template"
Hi!

I would need to remove some files from the template.

Usecase: migrate https://github.com/TeXitoi/blue-pill-quickstart to cargo-generate

Some files are here only for the purpose of explaining the repository. I'd like these files to be deleted when using `cargo generate`. In this case, the files to remove are `LICENSE` `README.md` and `st-link-v2-blue-pill.jpg`.

[2018-08-03 11:27] DD5HT commented on #82
So you want something like .gitignore for cargo generate.  #48 a config file could also solve this problem.

[2018-08-04 08:30] DD5HT commented on #81
I've a working Prototype with a shallow main. But I still have to improve the error handling in the library before I can push it. I've also refactored some of the logical blocks into separate functions.
`src/bin/client.rs`
[code]

[2018-08-06 05:34] dcarosone commented on #78
I couldn't recall where I'd seen this to link at the time, but it just came up again:
https://internals.rust-lang.org/t/pre-rfc-project-based-examples-for-cargo-projects/8088

[2018-08-06 16:44] ashleygwilliams commented on #81
cool! if you want to start a WIP PR (work-in-progress PR) i'm happy to work with you on it- we may end up needing to take quicli out... i think that's fine. also we can have a top level ? in main :D - that might help! (it's a new feature so i'm not sure if you knew about it)

[2018-08-06 17:33] roblabla opened #83 "Git submodules"
Currently, cargo-generate ignores git submodules (does not clone them recursively). I'm working on a Rust toolchain for the Nintendo Switch, and I'd like to have my template contain a git submodule for my fork of the rust stdlibd.

I believe cargo generate should clone templates recursively.

[2018-08-06 18:16] ashleygwilliams commented on #83
i totally think we should do this! my only thought is- should this be default behavior or a flag- any thoughts @roblabla or @killercup ? i can't imagine that doing it by default would cause issue, but i also rarely use git submodules so don't have a ton of experience to draw on here. open to either!

[2018-08-06 18:46] ashleygwilliams commented on #65
go for it @k0pernicus ! :)

[2018-08-06 18:49] roblabla commented on #83
By default, git does not clone submodules because it can take a large amount of time to clone, and might not be necessary.

But in the context of a template, IMO the default should be to clone it. I can't imagine a case where a template would have a submodule the author didn't intend to get cloned. Curious to hear if anyone has a use-case for a non-cloned submodule in a template though.

[2018-08-06 19:02] ashleygwilliams commented on #83
yeah i tend to agree with you @roblabla - let's leave this open for a few days and see if there's any comments. otherwise i'm quite happy to accept a PR for this (if you are interested- go for it!)

[2018-08-07 11:42] DD5HT opened #86 "Travis build always fails."
All builds fail with the  following error:
`The command "cargo fmt -- --write-mode=diff" exited with 1. `

for faster build you can also add `cache: cargo `  to the `.travis.yml`.

[2018-08-07 19:26] ashleygwilliams commented on #86
hrm, i think this is an issue with cargo-fmt. i'll look into it.

[2018-08-07 21:17] ashleygwilliams opened #89 "fix quicli warning"
[code]

[2018-08-07 21:20] killercup commented on #89
blocked by new quicli release containing https://github.com/killercup/quicli/pull/88

[2018-08-07 21:29] ashleygwilliams commented on #89
oh word. i just have a PR with a cargo update and now i get this deprecation warning. good to know!

[2018-08-07 22:14] #86 closed

[2018-08-07 22:16] ashleygwilliams commented on #79
go for it @rexto - probably want to build off of what @DD5HT is working on in #85! (would totally accept a PR that's branched off his work)

[2018-08-07 22:18] #66 closed

[2018-08-08 11:38] DD5HT commented on #79
I think it would be really good if you write a function like this in
`git.rs `:
[code]

[2018-08-25 12:05] therealprof opened #92 "RFC: Ready-made configurations/presets for templates"
In the embedded WG we have another challenge with templates to solve. Once we have #17, it would be nice to provide additional guidance for the user to break down sensible value combinations into presets which can be stored in the templates to vastly simplify the setup.

An example for a system like this exists in the C/C++ embedded world with [platform.io](https://platformio.org/) which (amongst

[2018-08-25 20:45] therealprof commented on #92
Yes, something along the lines would be great.

[2018-10-01 14:18] ashleygwilliams commented on #71
closed by #94

[2018-10-01 14:18] #71 closed

[2018-10-01 14:18] ashleygwilliams commented on #65
closed by #84

[2018-10-01 14:18] #65 closed

[2018-10-01 14:27] ashleygwilliams commented on #67
after trying this out in several workshops, i think we should remove the libgit2 dependency in favor of shelling out to git

[2018-10-01 15:21] ashleygwilliams opened #97 "test that unsafe ignore operations are not possible"
follow up to #96

[2018-10-01 16:08] ashleygwilliams commented on #82
closed by #96

[2018-10-01 16:08] #82 closed

[2018-10-01 16:51] #97 closed

[2018-10-01 17:09] ashleygwilliams opened #99 "produce binaries"
in prep for https://github.com/rustwasm/wasm-pack/issues/373 we should build binaries - starting with tomorrow release of 0.2.0

[2018-10-01 18:27] k0pernicus commented on #89
I just checked the code and I don't see where we use `causes` in the main macro...
Is it related to the imported quicli crate version?

[2018-10-01 18:30] killercup commented on #89
@k0pernicus you are probably looking at source of quicli master :) I'm sorry, I still have to release a new version. I wanted it to contain a few other things but then it slipped my mind… I'll re-add it to my todo list and will comment here when it's done. (Otherwise, ping me relentlessly!)

[2018-10-01 18:33] k0pernicus commented on #89
@killercup Thank you for the update :)

[2018-10-01 21:35] k0pernicus commented on #83
I just checked the `git2-rs` crate and there is a method that clone the repository *and* the submodules recursively: https://docs.rs/git2/0.7.5/git2/struct.Repository.html#method.clone_recurse

Maybe, first, we can check if the repository contains submodules - if it does, we can use `clone_recurse`, otherwise we can just `clone` it.
The problem here is: how can we check if the repository contains

[2018-10-01 21:42] k0pernicus commented on #83
@ashleygwilliams Actually, I just read your thoughts about removing `libgit2` [here](https://github.com/ashleygwilliams/cargo-generate/issues/80)...
So the best solution here may be the second one.

[2018-10-03 11:42] b-ramsey commented on #58
Hi, I'd like to have a go at this issue. Just a couple of queries before I get started:

Any rules associated with structuring your tests. From what I can tell it is all just in the basics.rs test file. Should the new tests be placed in here as well?

From viewing the code that is associated with this action I can see that test cases should cover the priorities of the sources, and all methods can

[2018-10-03 14:13] ashleygwilliams commented on #58
hey @b-ramsey - i think your understanding sounds right! let me know if you have any other questions! the function that collect author data is here: https://github.com/ashleygwilliams/cargo-generate/blob/master/src/cargo.rs#L8

[2018-10-03 14:16] ashleygwilliams commented on #14
@rahul-thakoor we just landed a feature for ignoring files, `.genignore`. while not the most elegant solution to this issue, i think this may solve your problem for the moment- let me know?

[2018-10-03 14:22] ashleygwilliams commented on #89
just pinged @killercup on this and it should be happening today. @k0pernicus are you interested in taking this issue? let me know!

[2018-10-03 14:31] ashleygwilliams commented on #38
@fitzgen cargo-generate creates a local git project, but that project does not have any remotes. would it be enough to assume the project name is the repo name? this won't always be accurate...

[2018-10-03 14:33] ashleygwilliams commented on #37
@fitzgen similar to my comment on the #38 because cargo-generate generates a local git project, it doesn't actually know the repo name because no remotes are created. we can guess the repo URL but this will not always be accurate--

[2018-10-03 14:36] k0pernicus commented on #83
No problem.
I will create a PR for the `clone_reverse` solution if you are ok with that.

[2018-10-03 14:36] k0pernicus commented on #89
@ashleygwilliams I am :)

[2018-10-03 14:47] killercup commented on #89
@ashleygwilliams @k0pernicus here you go: https://crates.io/crates/quicli/0.3.1

[2018-10-03 16:28] ashleygwilliams commented on #83
yup! that's great. i should note that i was planning on doing a release today- let me know what your time constraints are. if we think we can get this in today that'd be awesome, but i don't want to put too much pressure. let me know!

[2018-10-03 16:50] ashleygwilliams opened #102 "clean up .genignore automagically"
the current impl of `.genignore` requires that you explicitly add the `.genignore` file in order for it to be cleaned up. as @killercup pointed out when i spoke to him, this is pretty surprising. because the `.genignore` file should always be cleaned up, let's automagically do so, and not require users to list it in the `.genignore` file itself.

[2018-10-03 17:39] fitzgen commented on #37
I was assuming a prompt, but I suppose it is just as easy for the user to edit the file manually.

[2018-10-03 17:47] k0pernicus commented on #83
@ashleygwilliams I can work on it right now ;)

[2018-10-03 18:06] killercup commented on #99
I've just added [trust](https://github.com/japaric/trust) to one of my projects ([here](https://github.com/killercup/waltz/commit/86fd70cd1ce3cd5dbb65902be6f2e555e9aff88b) and [here](https://github.com/killercup/waltz/commit/5a38e7d3ddb792fc025a4ada468c82b5549fadee)) – AMA

[2018-10-03 18:55] k0pernicus commented on #89
Thanks @killercup.
I will update the library in less than 1 hour ;)

[2018-10-03 23:30] ashleygwilliams commented on #83
closed by #104 - thanks @k0pernicus ! @roblabla we'll be making a release tomorrow- please try that out as it should resolve your issue! closing this now, please file an issue if you run into any problems!

[2018-10-03 23:30] #83 closed

[2018-10-03 23:31] ashleygwilliams commented on #89
closed by #105

[2018-10-03 23:31] #89 closed

[2018-10-04 04:27] rahul-thakoor commented on #14
hey @ashleygwilliams thanks for the input. I tested the template with a `.genignore` file however im still getting the same error.
https://github.com/rahul-thakoor/mdbook-template/blob/f2061d5ea87f2687e3fe1277670ede9dd8187f37/.genignore#L1-L3

Besides, it seems like files listed within `.genignore` will be _**cleaned up**_! However, this is not ideal since the conflicting files are necessary for `

[2018-10-04 16:15] ashleygwilliams opened #107 "break up tests into separate files"
the time has come. the test file is too long. i'd like to see it separated out by category- similar to how our src dir is broken up.

[2018-10-04 22:46] k0pernicus commented on #107
If nobody wants to work on... I can work on it this week-end :)

[2018-10-04 22:49] #70 closed

[2018-10-04 22:56] ashleygwilliams commented on #107
i doubt i'll get to it- so go for it! thanks :)

[2018-10-08 20:28] #102 closed

[2018-10-08 20:44] #99 closed

[2018-10-08 22:35] #55 closed

[2018-10-09 20:09] fitzgen commented on #40
Maybe if `cargo generate` only considered a certain subdir the template (by configuration (with default) or convention or...), then the root of the repo could be used for CI etc.

[2018-10-09 23:23] jjgonecrypto opened #113 "Error installing from libgit2-sys, but resolved."
I had an issue trying to run `cargo install cargo-generate` on a new MBP on OS X 10.14 (Mojave).

I was seeing the following:

[code]

After a bunch of digging into `libgit2-sys`, it turned out the issue was that faulty `block.h` header file in my `/usr/local/include` folder. `brew doctor` brought up the issue (along with a bunch of other files) and after removing that file myself, I was unblocked

[2018-10-09 23:23] #113 closed, assigned to nobody

[2018-10-10 15:12] softprops commented on #92
Porteurbars has this albiet through slightly different means, it uses env vars for template input sourced from a .env file that exists in the templates source repo
 https://github.com/softprops/porteurbars/blob/master/README.md#creating-templates

@ashleygwilliams I wouldn't might joining forces a bit on the plugin. I use porteurbars outside of rust contexts but many of my recent projects have a s

[2018-10-12 10:52] k0pernicus opened #114 "RFC: Launch post deploy script"
For complex projects, or projects that needs, for example, system binaries, it could be great to launch a post deploy script (for example, to check or install a binary to launch the project).

This post deploy script could be in a .POST_DEPLOY file, and `cargo generate` could check if the file is available in the generated project.
If the file is available, `cargo generate` could ask to the final

[2018-10-17 04:04] softprops commented on #47
Porteurbars went with local directly , GitHub, and raw gitburls https://github.com/softprops/porteurbars/blob/master/src/git.rs#L10

Local dirs are especially useful for local fast testing of a new template

[2018-10-21 19:41] Diggsey opened #116 "Shows warning if `.genignore` file does not exist"
I ran `cargo generate --git https://github.com/rustwasm/wasm-pack-template.git`, and it printed out the message:

[code]

It seems to have all worked fine, so I assume the message is just erroneous.

[2018-10-25 08:38] passcod opened #117 "PascalCase project name variable"
I started writing a template for https://github.com/passcod/notify/tree/next backends, but there's no PascalCase substitution? I want to do this:

[code]

[2018-10-25 11:37] passcod opened #118 "Respect branch name of template"
A bit different from #94 et al: this is not about being able to choose which branch on the template repo to look at!

I wish cargo-generate would create the same main branch name as the template did. That could be for specially important reasons, like a template for the `gh-pages` branch, or for less important reasons, like wanting to avoid the word `master` in a particular community.

[2018-11-05 14:16] sjuanman commented on #113
I had the same problem and your solution also worked for me.

Thank you!

[2018-11-12 07:38] mlisanke opened #122 "cargo install cargo-generate fails compiling curl-sys on windows 10"
I've looked in both fatal errors in the output (neither had internet solution)... here's the copy of output at failure:

[code]

[2018-11-12 07:40] mlisanke commented on #122
I've looked in both fatal errors in the output (neither had internet solution)... here's the copy of output at failure:
`error: failed to run custom build command for `curl-sys v0.4.15`
process didn't exit successfully: `C:\Users\mike\AppData\Local\Temp\cargo-install2DTZOi\release\build\curl-sys-25e47cbb6164fbf2\build-script-build` (exit code: 101)
--- stdout
cargo:root=C:\Users\mike\AppData\Local

[2018-11-12 07:44] mlisanke commented on #122
I didn't close the issue :-(

[2018-11-12 08:18] DD5HT commented on #122
Do you have curl installed on your windows pc? [](https://github.com/alexcrichton/curl-rust#version-support)
also see this issue: [curl-rust/111](https://github.com/alexcrichton/curl-rust/issues/111)

[2018-11-12 08:46] mlisanke commented on #122
yes, I run a cygwin environment:

`C:\Users\mike>curl --version
curl 7.55.1 (Windows) libcurl/7.55.1 WinSSL
Release-Date: [unreleased]
Protocols: dict file ftp ftps http https imap imaps pop3 pop3s smtp smtps telnet tftp
Features: AsynchDNS IPv6 Largefile SSPI Kerberos SPNEGO NTLM SSL
`

[2018-11-18 18:02] antweiss opened #124 "generating a project with tera template"
If the template project includes [tera] (https://github.com/Keats/tera) html templates cargo-generate fails with:
[code]
It seems to me generate should just ignore all placeholders except those it knows about. Maybe issue a warning,but definitely not fail on them.

[2018-11-18 19:30] ashleygwilliams commented on #118
I would absolutely accept a PR for this! Sorry for the delay in responding.

[2018-11-18 19:31] ashleygwilliams commented on #117
sorry for the delay in respones! i would absolutely accept a PR to add this.

[2018-11-18 19:33] #116 closed

[2018-11-19 03:46] danielpclark commented on #124
That's the one Tera example that uses absolute paths for the `compile_templates!` macro.  That macro works best with relative paths and not absolute paths.  See [this discussion](https://github.com/Keats/tera/issues/359).

[2018-11-19 08:04] antweiss commented on #124
@danielpclark thanks for noticing. however I think this relates more to the project template I created and not to the issue at hand. The issue as I understand it is that cargo-generate goes over all project  files looking for the jinja-like templating tags. If it encounters one  - it tries to replace it and that's where it stumbles upon unknown placeholder names. So this will happen if you have an

[2018-11-19 11:35] antweiss commented on #124
Looking at the code I now realize this comes from [liquid-rust](https://github.com/cobalt-org/liquid-rust). (Why it fails on that instead of just rendering an empty space as the original liquid engine does is another question)
I suppose the correct thing here would be catching the error and just verifying it's not about any of the tags known to cargo-generate. I think even a warning message would

[2018-11-19 13:38] antweiss commented on #124
Thought about it some more and understood it won't work. When liquid fails - it stops processing the templates altogether. So even if the error is caught the project won't get generated correctly.

[2018-11-20 14:06] ashleygwilliams opened #125 "0.2.1"

[2018-11-20 14:14] ashleygwilliams commented on #122
@mlisanke sorry to hear you are running into this. i dont have a windows machine to test on and we do test this application on Appveyor but clearly we don't have good enough coverage. i would largely expect this to be an environment issue, though one we definitely would want to solve!

given some of my experience with CLI apps on windows with my other tool wasm-pack, i wonder if this isn't a path

[2018-11-20 14:19] ashleygwilliams commented on #122
i actually just review #119 and i think it's good so i'm going to cut a release today with that in it. please let me know if it helps at all!

[2018-11-20 16:31] #125 closed

[2018-11-21 04:11] meteor-lsw opened #127 "linking error with `x86_64-w64-mingw32-gcc` on windows"
error: linking with D:/tools/msys2/mingw64/bin/gcc.exe failed: exit code: 1
|
= note: "D:/tools/msys2/mingw64/bin/gcc.exe" "-Wl,--enable-long-section-names" "-fno-use-linker-plugin" "-Wl,--nxcompat" "-nostdlib" "-m64" "D:\tools\rust\rustup\toolchains\stable-x86_64-pc-windows-gnu\lib\rustlib\x86_64-pc-windows-gnu\lib\crt2.o" "D:\tools\rust\rustup\toolchains\stable-x86_64-pc-windows-gnu\lib\rustlib\

[2018-11-21 04:12] epage commented on #124
The original liquid has levels of strictness and liquid-rust is aiming to be conformant with strict mode + strict_variables + strict_filters.  I just made this explicit in the README before seeing these posts :)

Looks like the issue for this is a combination of https://github.com/ashleygwilliams/cargo-generate/issues/48 and https://github.com/ashleygwilliams/cargo-generate/issues/43

[2018-11-21 04:17] longwusha commented on #127
Anyone knows how to solve this?

undefined reference to `__imp___acrt_iob_func'

[2018-11-21 04:19] longwusha commented on #122
version 0.2.1 can not be installed on windows 10

[2018-11-21 04:20] longwusha commented on #122
more details in #127

[2018-11-21 04:21] longwusha commented on #127
C:\Users\lws>curl --version
curl 7.62.0 (x86_64-pc-win32) libcurl/7.62.0 WinSSL zlib/1.2.11 libssh2/1.8.0
Release-Date: 2018-10-31
Protocols: dict file ftp ftps gopher http https imap imaps ldap ldaps pop3 pop3s rtsp scp sftp smb smbs smtp smtps telnet tftp
Features: AsynchDNS IPv6 Largefile SSPI Kerberos SPNEGO NTLM SSL libz

[2018-11-21 04:30] epage commented on #114
https://github.com/ashleygwilliams/cargo-generate/issues/48 might also be relevant.

[2018-11-21 04:31] epage commented on #114
Oh, looks like https://github.com/ashleygwilliams/cargo-generate/issues/18 might also be relevant.

[2018-11-21 04:51] passcod commented on #117
That would be ideal. Don't have lots of time right now but I might look (if
ashley is okay with this approach) during yuletide or thereabouts.

On Wed, 21 Nov 2018 at 17:28, Ed Page <notifications@github.com> wrote:

[2018-11-21 11:38] antweiss commented on #124
Yep, #48 would definitely cover that. In general I like the approach of having defaults and being able to override that with configuration. I guess this issue can be closed in favour of that approach.

[2018-11-21 14:29] ashleygwilliams commented on #122
thank you for letting me know @longwusha - i'll look into it further

[2018-11-21 16:09] alexcrichton commented on #127
I've posted a response for this on the [curl-rust bug](https://github.com/alexcrichton/curl-rust/issues/239#issuecomment-440721420), and hopefully that can help solve the issue!

[2018-11-21 16:12] alexcrichton commented on #122
Hello! I think this is slightly different than #127 due to the different error message, but I think the issue here may be the usage of cygwin instead of MinGW. The C compiler is saying that there's no input file, but my guess is that the input file is actually there but the paths aren't being communicated well. We've had a lot of trouble historically with unix-like compilers for Windows where some

[2018-11-27 14:10] longwusha commented on #127
Your suggestion should work.

But I can not try it right now, because I can not debug my program with MSVC target on win10.

Thanks for your suggestion, I will try it again if CLion can debug rust program with MSVC environment.

[2018-11-29 18:20] fitzgen opened #128 "`cargo generate --git .` no longer works"
This [broke the CI](https://travis-ci.org/rustwasm/wasm-pack-template/jobs/461137846#L871) for `rustwasm/wasm-pack-template`:

[code]

-----------

### Steps to Reproduce

[code]

### Expected Results

Generates a `testing` project

### Actual Results

`cargo generate` does not exit successfully

[2018-11-29 23:14] DD5HT commented on #128
The problem is in `git.rs` `GitConfig::new` does not like relative paths. It works with an absolute path. I can write a fix for this tomorrow @ashleygwilliams

[2018-11-29 23:16] ashleygwilliams commented on #128
whoops, this why introduced by me when i merged the clone repos with cargo PR. i'm sorry! @DD5HT a PR would be awesome <3 thank you

[2018-11-30 20:47] LandKingdom commented on #128
I thought this issue was the same I was having. Turns out I instead found a new one: if I prefix github with "www." i get the same error as in this issue (spurious network). I downloaded the source and modified it to just remove "www." if it was found. [Here](https://github.com/LandKingdom/cargo-generate/commit/affe3a16da4cd9ad22a5a61c718e38920baf16a4)'s the commit in question. I'm not making a PR

[2018-11-30 20:54] ashleygwilliams commented on #128
thank you @LandKingdom ! we'll be sure to fix this as well.

[2018-11-30 21:07] DD5HT commented on #128
@LandKingdom @ashleygwilliams I'm gonna keep that in mind as well, I'm looking into an elegant solution to parse these urls, it's surprisingly not that easy. Also @LandKingdom removing www isn't maybe the best choice here. Since the url automatically redirects to the non www version anyway when normally used with git clone. So enabling redirection in cargo gen is maybe a better choice.

[2018-11-30 21:21] LandKingdom commented on #128
I didn't really look into it, I just wanted to get it to work in my use case. I had already downloaded the code by the time I found it it was the "www." that had the problem, so I just fixed THAT and went on my way. I saw [Issue 67](https://github.com/ashleygwilliams/cargo-generate/issues/67) earlier, so you might want to also keep that in mind (since you mentioned that git clone redirects no prob

[2018-12-18 21:59] ashleygwilliams commented on #127
@longwusha addtionally- we do produce pre built binaries- this may be an easier way for you to install the project! i'll close this for now, but if you continue to have trouble, please message and i will reopen!

[2018-12-18 22:00] ashleygwilliams commented on #122
@LandKingdom we also distribute precompiled binaries- this may end up being an easier way for you to install this tool! i'm going to close now, but if you continue to have trouble, please message and i will reopen!

[2018-12-18 22:00] #122 closed

[2018-12-18 22:01] ashleygwilliams commented on #14
@rahul-thakoor you are definitely right- sorry about that, i think we'll need to consider some sort of allow/ignore list for when we do the substitution. i'll look into this for a future release

[2018-12-18 22:02] ashleygwilliams opened #130 "0.2.2"
write a changelog, release

[2018-12-18 22:02] ashleygwilliams opened #131 "migrate to 2018"

[2018-12-18 22:02] ashleygwilliams opened #132 "cargo update"

[2018-12-19 22:16] #132 closed

[2018-12-21 15:49] ashleygwilliams opened #138 "enabling redirection in cargo gen"
as per https://github.com/ashleygwilliams/cargo-generate/issues/128#issuecomment-443334684

[2018-12-21 16:33] #130 closed

[2018-12-28 11:45] #81 closed

[2018-12-28 18:44] DD5HT commented on #138
#67 would solve this issue too.

[2019-01-04 14:23] ashleygwilliams commented on #131
the compiler error previously encountered is fixed so i'm going to attempt this again in a new PR

[2019-01-16 06:38] cmal opened #143 "`cargo install cargo-generate` build failed on Mac OS X."
[code]

[2019-01-16 15:42] ashleygwilliams commented on #143
as a workaround - are you able to successfully install from a binary release? we have them on our releases page: https://github.com/ashleygwilliams/cargo-generate/releases

[2019-01-16 15:42] ashleygwilliams commented on #143
(i'm working on trying to reproduce your issue now)

[2019-01-16 15:52] ashleygwilliams commented on #143
i can't reproduce on my MacOS 10.12.6, rust nightly 01-10, could you give me some more details about your system? thanks!

[2019-02-01 03:40] inDigiNeous commented on #143
Hello. Just reporting here that build fails on macOS Mojave 10.14.2 also:

[code]

This with 'rustc 1.32.0 (9fda7c223 2019-01-16)'. So at least with the the stable version 1.32.0 the build fails.

[2019-02-01 03:42] inDigiNeous commented on #143
Trying to build with nightly also fails with the same error.

[2019-02-01 03:46] inDigiNeous commented on #143
Installing the binary release and running results in missing library reference:

[code]

Should not really link releases to specific libraries under /usr/local/opt.

[2019-02-16 01:42] gliheng opened #144 "Cannot generate project with binary files"
Hi, I'm using cargo-generate on a project with binary files in it, got this error. Even list the file in .genigore does not seem to help.

This is the error msg.
[code]

icns is macos icon resource.

[2019-03-11 14:31] ssokolow commented on #124
Bear in mind that the "just pass it through cleanly if it fails" approach would cause subtle breakages as soon as someone had a file containing only placeholders which happen to line up with the ones provided by cargo-generate.

Duck-typing the input files like that isn't not really the Rust way to do things.

[2019-03-11 16:27] ssokolow commented on #14
At the moment, this is preventing me from using cargo-generate in the upcoming rework of my [rust-cli-boilerplate](https://github.com/ssokolow/rust-cli-boilerplate) because I use Just for build automation and Just uses Django/Jinja/Liquid/Twig-style placeholders for variable substitution.

I don't have time to learn my way around somebody else's project and then concoct a generally applicable solu

[2019-03-29 19:51] jaysonsantos opened #145 "Windows releases are not shipping with exe file"
It seems that the releases for windows are not shipping with the exe file, just README and licenses.

[2019-03-29 19:53] jaysonsantos commented on #145
Here is wget output:

[code]

[2019-03-29 19:55] jaysonsantos commented on #145
Here is a build where the problem happens https://ci.appveyor.com/project/ashleygwilliams/cargo-generate/builds/20437209

[2019-04-02 16:28] ashleygwilliams commented on #145
solved by #146

[2019-04-02 16:28] #145 closed

[2019-04-03 15:17] ashleygwilliams opened #148 "0.3.0"

[2019-04-03 15:17] ashleygwilliams commented on #131
closed by #147

[2019-04-03 15:17] #131 closed

[2019-04-03 22:15] #117 closed

[2019-04-03 22:17] ashleygwilliams commented on #117
it was literally forever, but this finally landed. cutting a 0.3.0 release now.

[2019-04-04 18:24] ashleygwilliams opened #151 "document casing filters"

[2019-04-04 19:11] ashleygwilliams opened #152 "move to azure pipelines"

[2019-04-06 20:02] xoac commented on #152
I am working on ready to use template for rust + azure pipelines. Maybe you will be interested. Look [here](https://github.com/xoac/rust-azure-pipelines)

[2019-04-06 21:52] weebs opened #155 "`cargo install cargo-generate` fails on Windows 10"
Currently having issues with the GNU toolchain on Windows 10 while trying to install cargo generate.

Things go fine up until it begins building cargo-generate and fails with the following error

[code]

[2019-04-06 23:02] weebs commented on #155
I think this may be due to improperly configured gcc on my system

[2019-05-10 18:53] antoinevg commented on #143
If you're using macports, try this:

    sudo port -f deactivate libiconv
    cargo install cargo-generate
    sudo port activate libiconv

I have too many other yaks in need of my shears to figure out why but the macports libiconv package prefixes the function namespace with `_libiconv_*` rather than `_iconv_*`

[2019-05-21 17:20] ashleygwilliams opened #158 "--force successfully stops renaming but the cli still messages"
[code]

[2019-05-28 02:55] kitsuneninetails opened #159 "Can dir names and file names be templated?"
Can I have a file like `test_{{project-name}}.rs` and have that convert during generation to `test_my-project.rs`?

If not, that's something that probably needs to be added IMHO to give this any real utility over and above a simple `find . -type f -exec sed -ie "s/{{project-name}}/$1/g" {} \;`

Changing dir names and file names based off templates is much harder and a more interesting/helpful prob

[2019-05-28 08:36] stevematdavies opened #160 "cargo install cargo-generate fails to build and install, Ubuntu 19"
`cargo install cargo-generate `

build ends in error
[code]
OS: Ubuntu 19:04
Gnome 3.32.1
Intel® Core™ i7-2720QM
cargo 1.36.0-nightly (6be12653d 2019-04-19)
rustc 1.36.0-nightly (3991285f5 2019-04-25)
rustup 1.18.1 (462683b3a 2019-04-25)

[2019-05-28 19:37] k0pernicus commented on #160
I just tried on my GNU/Linux system (the same as yours), and the build was OK (same Nightly version as yours too).

As it seems the build error comes from `openssl-sys`, did you installed the required packages listed here: https://docs.rs/openssl/0.10.23/openssl/?

[2019-05-28 19:50] k0pernicus commented on #159
I think we can include this feature, as the program iterates on each file of the template project.
We just need to include a check on each file entry [here](https://github.com/ashleygwilliams/cargo-generate/blob/54a85ed98ee4ad06c8228dd60ac070ff483291dd/src/template.rs#L102).

[2019-05-28 20:59] k0pernicus commented on #159
@kitsuneninetails I am writing a feature request for your demand - I wrote the code and the tests and both work.
I will clean the code, and try a PR soon.

[2019-06-26 03:34] rbmanian75 commented on #143
I am also getting the issue but with different error like this

It looks like you're compiling on macOS, where the system contains a version of
OpenSSL 0.9.8. This crate no longer supports OpenSSL 0.9.8.

As a consumer of this crate, you can fix this error by using Homebrew to
install the `openssl` package, or as a maintainer you can use the openssl-sys
0.7 crate for support with OpenSSL 0.9.8.

U

[2019-06-28 10:56] Sreyas-Sreelal opened #163 "Add username placeholder"
There's already an authors placeholder for filling up authors field in Cargo.toml.But there could be situations when there's only the need of username and not in `username <email>` format.Since the code already fetches username for authors field,the same can be adjusted for fetching both.

I did make a working solution [here](https://github.com/Sreyas-Sreelal/cargo-generate/commit/f58f88e5d07eb5da

[2019-07-01 16:54] k0pernicus commented on #160
@stevematdavies Is this issue still in pending? :)

[2019-07-01 17:07] stevematdavies commented on #160
Suppose not, it's taken so long to get any replies, I gave up

[2019-07-01 17:13] k0pernicus commented on #160
I don't think you received my response notification unfortunately, as I answered it the same day as your question :/

[2019-07-11 18:01] RotationMatrix commented on #118
I'll take this one!

[2019-07-16 16:30] signalnerve opened #168 "Unable to generate new project (ssh issue?)"
When trying to generate a new project (on Windows 10, using WSL shell), `cargo-generate` errors out while trying to generate a project:

[code]

(This issue was moved from https://github.com/cloudflare/wrangler/issues/322)

[2019-07-16 16:49] ashleygwilliams commented on #168
@steveklabnik are you able to reproduce this?

[2019-07-16 16:50] steveklabnik commented on #168
I am not. However, I am on regular Windows, from the original report, it seems like (due to the `/mnt/c`) @signalnerve is using WSL. I'm not sure if that's relevant or not.

[2019-07-16 17:03] signalnerve commented on #168
Yep, it is with WSL! Any other info I can provide to make diagnosing easier?

[2019-07-17 17:40] omarabid commented on #143
I had this error before trying @antoinevg fix.

[code]

For a program that does a job of changing some variables in files, I think it's better to reduce the dependency scope. The problems seem to be of networking and C origin (git/ssl/cc). We'd be better off without them.

[2019-07-24 23:55] 121watts commented on #168
This is happening on my machine as well MacOS 10.14.5 Mojave

[2019-07-25 16:47] k0pernicus commented on #168
@121watts Can you provide us the version of `cargo-generate` you are using please, using `cargo generate -V`?

I am using too MacOS 10.14.5 and I am able to generate the same project, using your command...

Thanks in advance :)

[2019-07-30 22:12] #158 closed

[2019-07-31 17:50] iamed2 opened #172 "0.3.1 release notes link to incorrect pull request for cmdr template"
https://github.com/ashleygwilliams/cargo-generate/releases/tag/v0.3.1 links to https://github.com/ashleygwilliams/cargo-generate/pull/146 twice; I think that might actually be the wrong PR for the `bluepill` template too. I'm not sure what the correct links are.

[2019-08-01 14:59] #172 closed

[2019-08-05 16:55] EverlastingBugstopper commented on #168
@k0pernicus there are a bunch of user reports here if you want to take a look https://github.com/cloudflare/wrangler/issues/316

[2019-08-05 17:42] k0pernicus commented on #168
@EverlastingBugstopper I will take a look, thanks

[2019-08-05 18:42] EverlastingBugstopper commented on #168
It's also important to note that all of these commands are being sent w/the `--force` flag. I see the bug occurring without the `--force` flag being present, but for the cases I can reproduce, it stops being a problem when I omit `--force`. Might be a red herring, not quite sure.

[2019-08-05 18:59] k0pernicus commented on #168
Unfortunately, on my both Debian and macOS machines, I can't reproduce the bug...

Based on the logs, I tried to look for where can be the bug, and as I understood about this bug, I am wondering if it's not located in cargo git dependencies...
I checked on recent issues, and found some issues about hash path [here](https://github.com/rust-lang/cargo/issues/6882).

The main problem of this issue is

[2019-08-05 19:00] k0pernicus commented on #168
(Sorry, closed accidently...)

[2019-08-05 19:18] EverlastingBugstopper commented on #168
Yeah - seems like that's the issue. The errors we see always have a random hash appended to the end of the repo name. It'd be great if we knew why the bug reproduces for some people and not others and if there's a way to fix it or work around it.

[2019-08-05 19:52] k0pernicus commented on #168
@EverlastingBugstopper Do you know if this kind of errors is happening all the time for users that currently have this problem, or only one time over XXX?

[2019-08-05 20:04] EverlastingBugstopper commented on #168
I believe it's every time.

[2019-08-05 20:10] signalnerve commented on #168
Hi all - just to check back in, I'm still seeing this issue on the newest version of `cargo-generate`

[2019-08-05 20:13] k0pernicus commented on #168
Hi @signalnerve, still on Windows? Which version of rustc & cargo are you using please?
Can you run again the command prefixed by `RUST_BACKTRACE=1`and copy/paste the output (crash) here please?
Thanks a lot! :)

[2019-08-05 20:36] signalnerve commented on #168
this was a _super_ unhelpful comment. sorry about that :|

I'm pretty sure that this issue is stemming from the `temp` variable in `git.rs`:

https://github.com/ashleygwilliams/cargo-generate/blob/fe16bc58ae07a4dbfb30b4506625d2257f2b33e3/src/git.rs#L45-L48

I cloned this locally and did a `println!` on both `project_dir.to_str()` _and_ `&temp.path()` - they differed, with `&temp.path()` having the

[2019-08-05 21:21] k0pernicus commented on #168
I checked `tempfile` package and it seems that `tempdir` creates a temporary directory at a dedicated path, adding some random bytes at the end of the directory name (by default: 6!).

This function returns an `io::Result` type, and we check it when we create the temporary directory, so it seems the directory has been created before the `clone` process.
As the temporary directory is deleted at the

[2019-08-05 21:28] EverlastingBugstopper commented on #168
Putting this here for reference. Backtrace from a macos machine exhibiting this issue

[code]

[2019-08-05 22:54] #148 closed

[2019-08-07 19:44] ashleygwilliams commented on #160
cc @xortive i think the change you made for the wrangler readme would help here! (https://github.com/cloudflare/wrangler/pull/407)

[2019-08-07 21:49] ashleygwilliams commented on #155
@weebs thanks for your patience and sorry for the lack of response- are you still having this issue?

[2019-08-08 14:30] #118 closed

[2019-08-08 14:36] ashleygwilliams opened #177 "add prebuilt binaries to the installation section of the README"
something like "prebuilt binaries for MacOS, Windows, and Linux are available in the Github releases.." and link to it

[2019-08-08 18:15] #160 closed

[2019-08-08 18:15] #177 closed

[2019-08-08 21:49] #144 closed

[2019-08-08 21:49] #43 closed

[2019-08-08 21:49] #48 closed

[2019-08-08 21:49] #124 closed

[2019-08-09 09:50] Sreyas-Sreelal opened #180 "Unknown filters"
The filters `pascal_case` and `snake_case` seems not to be found.
Here's a minimal repro

## Run
[code]
## Output
[code]
## Content
**filter.txt**
[code]
**Repo used for testing**
https://github.com/Sreyas-Sreelal/cargo-generate-bug-repros

## Version
[code]

[2019-08-09 14:55] signalnerve opened #181 "Generating a new project with `cargo-generate` master outputs file warnings"
Trying to generate a new project using `cargo-generate` master gives a warning that `.genignore` and `cargo-generate.toml` don't exist:

[code]

[code]

[2019-08-09 19:10] #181 closed

[2019-08-09 21:12] cj123 commented on #168
Hi! I'm here following attempting to use Cloudflare wrangler as follows:

[code]

After a bit of googling, I found that the issue was related to my `~/.gitconfig` file.

I have the following lines (I think from some golang stuff? can't remember):

[code]

Commenting out those two lines fixes the above issue:

[code]

referencing https://github.com/rust-lang/cargo/issues/3381 for pointing me in thi

[2019-08-09 21:38] xortive commented on #159
https://github.com/ashleygwilliams/cargo-generate/pull/161 was going to solve this for 0.4.0, but it's being pushed back to a later release. https://github.com/ashleygwilliams/cargo-generate/pull/182 has some more details on the motivation behind this.

[2019-08-12 13:09] RotationMatrix commented on #14
Seems #174 might have solved this. Modifying rahul-thakoor/mdbook-template to use `cargo-generate.toml` fixed the substitution errors on my end! :tada:

Updated template: https://github.com/RotationMatrix/mdbook-template

[2019-08-12 22:28] yaahc opened #185 "Dead link in TEMPLATES.md"
the second link on the CLI line goes to a page that no longer exists. It should link to https://github.com/rust-cli

[2019-08-13 08:18] #185 closed

[2019-08-13 16:02] RotationMatrix commented on #76
Since we have `cargo-generate.toml` now, should we use it or stick with `Cargo.toml`?

Using `cargo-generate.toml` would keep most of the template metadata in one place and, as @killercup pointed out, templates like in #14 wouldn't need a `Cargo.toml`. However the disadvantage would be requiring all templates to have a `cargo-generate.toml`.

[2019-08-15 12:23] RotationMatrix commented on #180
Sorry I forgot to post here before opening the PR, I am able to reproduce this issue using the command above on macOS 10.12.6 with the following.
[code]

Rust backtrace:
[code]

[2019-08-21 14:19] #155 closed

[2019-09-02 14:54] Paulswith commented on #155
It seems I encounter the same problem, how did u resolve your problem @weebs @ashleygwilliams

[code]

My rust and windows OS version:
[code]

Thank you advanced.

[2019-09-15 21:08] crazcalm commented on #160
I ran into the same issue.

TL;DR: install openssl
[code]

The fix can be found here: https://github.com/sfackler/rust-openssl/issues/1150

[2019-09-16 15:42] Geobert opened #189 "installation failure on Windows 7"
using Rust 1.37:
[code]

[2019-09-22 13:50] softprops opened #190 "is_git_metadata incorrectly detects .github/xxx files as git metadata"
While templating out a repo with GitHub action workflow that has a templated `{{project-name}}` referenced I noticed that the workflow file wasn't getting processed. I believe that's because it considers [any path containing `.git` in any part of its name to be git metadata](https://github.com/ashleygwilliams/cargo-generate/blob/d123ea95f598246e2184bb4a035c4a109c075235/src/template.rs#L135)

I'd b

[2019-09-22 13:53] softprops commented on #190
it actually looks like the [.git directory is removed](https://github.com/ashleygwilliams/cargo-generate/blob/1319fdd352a2117cc7d8b9f09adb7b4f79294dbb/src/lib.rs#L85) on the initial clone sit perhaps  the`is_git_metadata` filter could just be removed if there are not .git files to match.

[2019-09-22 14:04] softprops commented on #190
That line it particularly confusing and is maybe not working the way I think. When I read the following. It looks like we only process the template if removing the .git directory fails , and if deleting the .git directory does work, dont process the template at all 🤔

`git::remove_history(dir).unwrap_or(progress(name, dir, force, &branch)?)`

[2019-09-24 01:30] softprops commented on #190
Posted a pull request with a proposed fix for the bug. In just made the code that checks the path check for an explicit path component

[2019-09-25 19:28] steveklabnik opened #192 "Windows paths include `\\` in output instead of `\`"
Given these lines:

https://github.com/ashleygwilliams/cargo-generate/blob/7eb47f98c4ec0bfc670c9e6d860fd0082b35c877/src/ignoreme.rs#L61

https://github.com/ashleygwilliams/cargo-generate/blob/7eb47f98c4ec0bfc670c9e6d860fd0082b35c877/src/ignoreme.rs#L64

You end up with output like

[code]

Instead of

[code]

[2019-09-26 14:42] Sreyas-Sreelal commented on #180
@ashleygwilliams?

[2019-10-01 15:32] richarddavenport commented on #168
@cj123 Thanks man! I can confirm I use ssh for git, temporarily commented out these line:
[code]

Works now.... hope it gets fixed!

[2019-10-02 14:12] punkstarman opened #193 "Add option to function like `cargo init`"
Cargo provides two commands for creating a new Rust project: `cargo new` and `cargo init`. The former creates a new subdirectory for the project and a SCM repo. The latter assumes the user has already created the project directory and maybe even the SCM repo and only adds the rest.

`cargo generate` works like `cargo new`, but sometimes the user has already created a Git repo and cloned it so they

[2019-10-02 14:37] punkstarman commented on #193
Thank you. I'll get to it.

[2019-10-02 17:00] ashleygwilliams commented on #193
@punkstarman awesome. i am curious- what do you expect the end user command API to be? `cargo generate` is how we invoke today- what were you thinking for this feature?

[2019-10-02 19:03] punkstarman commented on #193
@ashleygwilliams thanks. Good question, I was just thinking about it cause I want to write the test case.

I'm leaning toward adding a flag. I'm not sure of what name yet.
- `--init`
- `--bare`
- `--no-create-dir`
- :man_shrugging:

I'm shopping around for other options. This CLI doesn't use subcommands so I'm reluctant to go there.

What do you think about this?

[2019-10-10 01:15] softprops commented on #190
@ashleygwilliams sry to ping but thoughts on this?

[2019-10-17 13:56] JonnyTang opened #196 "error: failed to run custom build command for `libssh2-sys v0.2.12`"
D:\vscode_projs\rust-station\rust_test>cargo install cargo-generate
    Updating crates.io index
  Installing cargo-generate v0.4.0
warning: spurious network error (2 tries remaining): [28] Timeout was reached (failed to download any data for `cc v1.0.46` within 30s)
  Downloaded cc v1.0.46
   Compiling proc-macro2 v1.0.5
   Compiling unicode-xid v0.2.0
   Compiling syn v1.0.5
   Compiling serde v

[2019-10-25 16:32] EverlastingBugstopper opened #201 "Test that git history is removed"
cargo generate removes `.git` and then makes a blank one - this should be tested

[2019-10-25 18:07] #190 closed

[2019-10-26 12:14] #180 closed

[2019-10-26 12:15] ashleygwilliams commented on #192
fixed by #195

[2019-10-26 12:15] #192 closed

[2019-11-15 22:24] EverlastingBugstopper opened #204 "Do not attempt template substitution on files that cannot be parsed by liquid"
liquid fails to parse some files and if that's the case, cargo-generate shouldn't try to look for template strings.

[2019-11-20 19:47] k0pernicus commented on #201
I had this issue a few weeks ago.
I will propose a solution soon.

[2019-11-23 13:40] silvanocostanzo commented on #160
thanks @crazcalm, it worked for me

[2019-11-30 04:35] EverlastingBugstopper commented on #168
This also happens for github urls that are redirects. For instance, https://github.com/EverlastingBusgtopper/cf-typescript-boilerplate will redirect to https://github.com/EverlastingBusgtopper/worker-typescript-template, but the git implementation used by `cargo-generate` either does not follow the redirect or _does_ follow the redirect and then computes a different hash when it tries to copy the

[2019-11-30 16:24] k0pernicus commented on #168
Hi @EverlastingBugstopper

Do you have another example please?
I just tried to access to https://github.com/EverlastingBusgtopper/cf-typescript-boilerplate, but it seems that the repository does not exists anymore (or canno't be publicly accessed...).
Thanks in advance!

[2019-12-01 01:54] EverlastingBugstopper commented on #168
Edited... 🤦‍♂ I manually typed "Busgtopper" instead of "Bugstopper"

[2019-12-13 17:47] yorodm opened #208 "Installation failed on windows 10"
Hello:

I'm having some issues building with `rustc 1.39.0 (4560ea788 2019-11-04)`. I'm using `pc-windows-gnu` both `stable` and `nightly`. Build fails with

[code]

I'm using `mingw64/mingw-w64-x86_64-gcc 9.2.0-2` and `mingw64/mingw-w64-x86_64-crt-git 7.0.0.5553.e922460c-1`

[2019-12-16 02:55] jmjoy commented on #159
Need this feature too!

[2019-12-19 18:41] 2ndTaleStudio commented on #208
Hi,
I had the same issue. I just downloaded the binary from the release page: https://github.com/ashleygwilliams/cargo-generate/releases
Load the windows zip file and extract it to any folder. Copy the `cargo-generate.exe` to the `<user-home>/.cargo/bin` folder and it should work to run `cargo generate`.

[2019-12-20 14:34] yorodm commented on #208
It seems the issue had to do with something related to one of the `sys` crates. It also seems there's a long standing issue with the `pc-windows-gnu` toolchain. I'm closing the issue since is not directly related to the project itself.

[2019-12-20 14:34] #208 closed

[2019-12-23 22:27] rockstar commented on #168
Just stumbled over this bug, which got me dissecting my `~/.gitconfig` on OS X. Turns out the existence of `templatedir` in my `[init]` section was interfering with the clone. Not sure why, and didn't dig into it further, but I thought I'd try and add more context to this bug to remove the seeming randomness and help track down the issue.

[2019-12-24 15:23] shijunti19 commented on #168
![image](https://user-images.githubusercontent.com/5392211/71418216-5e7d8d80-26a4-11ea-9a53-fa756eea1ba6.png)

[2020-01-24 09:19] najamelan opened #210 "Let cargo-generate read a config file with defaults."
@ashleygwilliams I wonder how you feel about the possibility to set defaults, eg. if one often uses the same template, it would be nice to be able to omit the `--git` command line parameter. Also I would like to be able to turn off renaming a project with underscore to hyphen, saving another manual `mv` command. I imagine that other configuration options will come up once the infra is available.

[2020-01-24 17:56] EverlastingBugstopper commented on #210
I'm not sure about the default git template functionality - that seems like something more suited to a shell alias than an explicit pattern.

As for turning off the renaming, I believe you should be able to do that with the `--force` flag already. This is not documented though - if you try it and it works, it may be worth adding a documentation PR.

[2020-02-02 17:55] xoac opened #211 "Generate one project from many templates."
I was looking for a nice tool that will help me start with project. This looks quite good but I would propose to modify idea a little. This could make a steps that generate a full project instead of using just one source. For example:

1. Add license (choose one or many)
1. Add CI (this would be a template that will ask some question and create a basic defaults).
1. Add keepchangelog
1. Add code-o

[2020-02-05 20:55] xoac opened #212 "Conflict with cargo readme"
[cargo readme](https://github.com/livioribeiro/cargo-readme) use similar syntax like cargo generate it cause a problem to have a template that contains `README.tpl` file with for example `{{badges}}`.

Example error:
[code]

Liquid support [raw](https://shopify.github.io/liquid/tags/raw/)

[2020-02-19 15:57] Michael-F-Bryan commented on #204
I believe I'm hitting this problem as well.

I created a GitHub actions workflow [which uses the `${{ matrix.rust }}` variable](https://github.com/Michael-F-Bryan/github-template/blob/a539cbda6ced953ff1698cd693e4d6b6237988f5/.github/workflows/main.yml#L21) to figure out which version or `rustc` to use. This is [how you are meant to use variables with GitHub Actions](https://help.github.com/en/acti

[2020-02-21 09:46] ZelphirKaltstahl opened #215 "cargo install cargo-generate fails with undefined reference to OPENSSL_init_ssl"
I am trying to follow <https://rustwasm.github.io/docs/book/game-of-life/setup.html>, but already at the `cargo install cargo-generate` step it fails for me with the following output:

[code]

As you can see, I already have openssl installed through system packages:

[code]

Here are my versions:

* OS:

[code]

* `rustc`: rustc 1.41.0 (5e1a79984 2020-01-27)
* `cargo`: cargo 1.41.0 (626f0f40e 2019

[2020-02-21 10:11] ZelphirKaltstahl commented on #215
Apparently with `cargo install cargo-generate --features vendored-openssl` it succeeds. I should have read the readme first. I still don't completely understand it though:

1. <https://crates.io/crates/openssl-sys> seems to be just another crate. Should it not be a dependency of `cargo-generate` and automatically installed for a project? Why would I need to "obtain" it separately?
2. What does it

[2020-02-25 07:45] skade commented on #47
I would like to register interest in "subdirectory of a repos". Our use case is managing a number of assignments in one git respos and we would like to ship starter templates along with them in subdirectories.

[2020-03-02 16:47] EverlastingBugstopper commented on #215
Hi @ZelphirKaltstahl - `cargo-generate` requires openssl for some features and it almost never works with Linux. "Vendored" just means that a pinned version of openssl that we know works will be included in the `cargo-generate` binary that you install. The reason this is a flag is because it is not needed on other operating systems and we do not want to unnecessarily bloat their binaries.

`cargo

[2020-03-02 16:47] #215 closed

[2020-03-05 04:11] Leokuma opened #216 "Install error: "could not find `__rt` in `quote`""
Right now, running `cargo install cargo-generate` is not working:

[code]
Apparently, [this commit](https://github.com/dtolnay/quote/commit/41543890aa76f4f8046fffac536b9445275aab26) in the crate [quote](https://github.com/dtolnay/quote) broke the crate [failure_derive](https://github.com/rust-lang-nursery/failure/tree/master/failure_derive).

There's already the following open PR to fix it: https:

[2020-03-05 19:32] EverlastingBugstopper commented on #216
Looks like this is fixed https://github.com/rust-lang-nursery/failure/issues/342#issuecomment-595317113

[2020-03-05 19:32] #216 closed

[2020-03-20 07:28] usagi opened #217 "Time zone is not appling"
I made [this template-rust-backend-with-electron-frontend](https://github.com/usagi/template-rust-backend-with-electron-frontend) template now. But, I found `cargo-generate` cannot apply to a time zone expectedly.

My template has `{{ "now" | date: "%FT%T%z" }}` in [package.json](https://github.com/usagi/template-rust-backend-with-electron-frontend/blob/master/package.json). It be changed to `2020

[2020-03-21 22:28] k0pernicus commented on #217
Hi @usagi.
cargo-generate uses liquid for template placeholders - you can see the documentation of liquid, about the date, here: https://shopify.github.io/liquid/filters/date/

Is this liquid issue is related to your problem: https://github.com/cobalt-org/liquid-rust/issues/332 ?

[2020-03-22 02:24] usagi commented on #217
@k0pernicus Oh, thank you for telling me!

[2020-03-22 02:24] #217 closed

[2020-03-25 04:45] Jack-Works commented on #168
Same issue and this fix works for me

[2020-03-29 22:13] jcswart commented on #168
I get a similar, though slightly different error on Win10 + WSL2. Didn't want to add another issue considering how similar it is.

[code]
However calling git clone directly works.

[code]

I'm just sort of playing around with this windows setup, I'm not very familiar with windows in general.

I checked the WSL2 container's `.gitconfig` and there are no url rewrites taking place.

So is direct clon

[2020-03-30 21:32] k0pernicus commented on #212
Hi, thanks for reporting the issue.

Did you know that you can use a `cargo-generate.toml` to exclude the file `README.tpl` if you don't want to touch it?

In this case, the file will be excluded when parsing all tags, and the file will remains the same at the end :)

[2020-03-30 21:34] k0pernicus commented on #212
The explanation is given in the README, "Include / Exclude" section.
To use this feature, you just have to create a `cargo-generate.toml` file in your project, which the content:

[code]

[2020-03-30 21:41] k0pernicus commented on #168
Hi @jcswart, is it possible that your issue is related to [this one](https://github.com/rust-lang/cargo/issues/6513)?

[2020-03-30 22:30] xoac commented on #212
Thank for asnwer.

I want to use `README.tpl` check it on my template [crates-io-template](https://github.com/xoac/crates-io-lib-template).

As you can see there is [raw tag](https://github.com/xoac/crates-io-lib-template/blob/master/README.tpl#L4) that allow cargo-generate and cargo-readme work together - but require #213 to work.

[2020-04-06 07:47] Michael-F-Bryan commented on #159
I can think of a couple use cases where I'd like this, for example creating a template for a workspace where there's a `{{project_name}}` crate at the project root.

Is there anything I can do to help with the implementation or testing?

[2020-04-19 21:27] ZenoArrow opened #221 "cargo-generate fails to clone git repository when run from Linux Docker container on Windows host"
Version numbers for key system components:
* Windows 10 x64 (Version 1909, OS Build 18363.778)
* Docker Desktop 2.2.0.5 (N.B. Using Linux containers rather than Windows containers)
* PowerShell 7.0.0.0
* rustc 1.42.0 (b8cedc004 2020-03-09)
* cargo 1.42.0 (86334295e 2020-01-31)
* wasm-pack 0.9.1
* cargo-generate 0.5.0

After installing Docker Desktop and PowerShell, the following list of commands a

[2020-05-14 02:25] softprops opened #223 "cargo-generate generates a project even when template evaluation fails"
This relates to https://github.com/softprops/rust-bin/issues/10 where there's a fix pending https://github.com/ashleygwilliams/cargo-generate/pull/213

However a larger issue is that despite template evaluation failing with an error the project is still generated in a corrupt state. My default expectation would be that the project would not get generated if the tools processing pipeline failed.

[2020-05-21 21:20] jayphelps commented on #168
FYI for people coming here that your gitconfig might look somewhat differently than shown in https://github.com/ashleygwilliams/cargo-generate/issues/168#issuecomment-537093190

If yours looks like this, temporarily removing or commenting out these similar lines also will workaround it:

[code]

[2020-06-04 23:23] sassman opened #224 "support for 2 more liquid filters"
I have the use case of a cli template. In that template the crate is called `XXX-cli` but in the Cargo.toml I have a bin section like this:

[code]

So that I can install the crate as a binary without the `-cli` suffix.
For that to work I would need the `split` and the `first` filter of liquid.

[2020-06-05 10:57] sassman commented on #224
I started digging into it, and probably It would make sense to upgrade to the latest version of liquid. With latest version it would be very easy to allow all sorts of filters by default.

@ashleygwilliams I don't want to jump the gun, so I'd like to hear if there was a special reason to only allow a few filters and not all?

[2020-06-05 11:05] sassman commented on #210
@najamelan I was thinking about exactly the same. To give a bit more context, I imagined that the config file might contain something like:

[code]

and then I can use it this way:

[code]

[2020-06-05 22:34] sassman opened #226 "cli option for passing the project description in"
I was thinking the `Cargo.toml` has this field `description` and often this description is then placed in the README.md and so on.

So maybe it makes sense to extend the cli paramters in the same fashion as `name` works just for `description`, means if omitted the cli interactively asks for the project description.

I have already a draft implementation that will follow soon to illustrate the thin

[2020-06-06 20:09] sassman commented on #212
@xoac I have tried your template that you mentioned. With the code of PR #225 and there was no error.

The README.tpl contains that `{% raw %}` tag, and it seems that it correctly processed. Like below:

[code]

Could you quick check if that is your expected result?

[2020-06-06 22:32] xoac commented on #212
For me the correct way to check this would be include test (from #213)  in your  proposed PR.

The changes https://github.com/ashleygwilliams/cargo-generate/pull/225/files#diff-ab5bd5cb636a34f0984ce86c80edbd7fR15 should resolve my issue.

[2020-06-06 23:14] sassman commented on #212
@xoac Exactly. That is what I did, I took that code and the template of yours and that succeeded. But I guess you can tell better, if everything works as expected.

[2020-06-07 14:47] xoac commented on #212
I mean If you copy test from my PR and   then run  `cargo test` without failure - then it's ok.

[2020-06-07 14:48] sassman commented on #212
@xoac ok, I'll have a look at this particular test then.

[2020-06-07 15:49] sassman commented on #212
@xoac thanks for pointing me to that test. I've included it in #225 and it's passing. So it should be all good.

[2020-06-20 03:54] d9j opened #228 "long execution time and too many dependencies? cargo install cargo-generate"
tried to execute this command on  macbook pro 2015 16 GB RAM.
Fetching dependencies is quite fast process  however building takes 6 minutes . my concern that 's quite a lot of dependencies therefore maintainability of this project can be quite challenging.will this project be maintained long term or this just toy project ?

 put output of building below

cargo install cargo-generate
  Updating cra

[2020-06-20 08:28] #228 closed

[2020-07-04 16:30] #224 closed

[2020-07-06 07:52] oliverpool commented on #168
I think this issue is not limited to ssh (as analyzed by @EverlastingBugstopper ).
I commented the following lines in my .gitconfig to make it work (no ssh, but an https replacement).
[code]

[2020-07-06 10:35] xoac commented on #212
Closed with https://github.com/ashleygwilliams/cargo-generate/pull/225 thanks @k0pernicus

[2020-07-06 10:35] #212 closed

[2020-07-06 10:37] xoac commented on #223
Shouldn't this be closed by #225 @softprops?

[2020-07-06 10:41] softprops commented on #223
I think so. I'll reopen another issue if it's still a problem

[2020-07-06 10:41] #223 closed

[2020-07-07 07:23] avrong commented on #193
@ashleygwilliams @punkstarman Any updates on this? Wondering if there anything I can help you with.

[2020-07-07 11:25] punkstarman commented on #193
@avrong, thanks for the offer.

My main problem is debugging the build failure on Windows. I haven't had a computer with Windows installed for a few years now, and I am very much allergic to that OS.

But if you could help out with that, I would be very grateful!

[2020-07-07 11:30] k0pernicus commented on #193
@punkstarman Is it a permission issue? Like you are trying to overwrite a directory without the permissions for that...

[2020-07-07 11:31] k0pernicus commented on #193
[code]
command=`"C:\\projects\\cargo-generate\\target\\debug\\cargo-generate.exe" "generate" "--git" "C:\\projects\\cargo-generate\\target\\generated-tests\\test-25-template" "--name" "foobar-project" "--no-create-dir"`
code=1
stdout=``````
stderr=```Error:  Git Error: failed to remove directory `C:\projects\cargo-generate\target\generated-tests\test-25-main`
[code]
Checking at logs, it seems a pe

[2020-07-07 11:48] punkstarman commented on #193
@k0pernicus, that would be great.

Why is Windows encountering a permission error and not Linux or macOS?

[2020-07-07 16:51] k0pernicus commented on #193
@punkstarman sorry, I made a mistake understanding your integration test...
To be honest, I don't have any clue of what is happening for Windows build 🤔
Will take a look asap more closely

[2020-07-07 16:54] k0pernicus commented on #193
Otherwise, I don't know why, but it seems that

[code]

is deleting the folder instead of cloning the content in...

[2020-07-07 18:54] k0pernicus commented on #193
So, I took a look on my Windows machine and it seems an issue with

[code]

line 54 in src/git.rs.

Indeed, it seems that the `clone_to`, on Windows, try to remove the current folder to clone the changes in...

I don't really know if this is configuration option that we miss, if there is a bug in git2, or if the behaviour of git implementation on Windows is totally different than *nix platforms (l

[2020-07-07 19:54] punkstarman commented on #193
@k0pernicus, thankyou so much for taking the time to make this analysis and narrow down the root problem.

Would you be willing to experiment with the second option? At first, anything that makes the test pass will do. We can always clean things up afterwards.

If I tried to do this relying only on the CI, my cycle times would be enormous.

[2020-07-07 19:57] k0pernicus commented on #193
@punkstarman I can take a look, yep.
Unfortunately, my schedule's pretty busy, so I think I will check the options this week-end.

Do not hesitate to ping me next week if you don't have any update from me ;-)

[2020-07-07 21:15] punkstarman commented on #193
OK. No problem.

Thank you for the help that you have already provided :smile:

[2020-07-21 10:14] SirWindfield opened #229 "New git-related variables"
It would be nice if you could provide git-related variables for the template. I was mainly thinking about the default `user.name` one. This would allow templates to use that name for license files instead of the cargo author field (`{{ authors[0] }}`). The cargo field does, in almost all cases, also include the E-Mail address. `git_name` wouldn't.

[2020-07-21 10:21] mainrs opened #230 "Introduce features, a way to include files conditionally"
It would be really cool if `cargo-generate` would have something like cargo's features, where a user could select to include certain configuration/setup files of a template if he wants to.

An example: My template contains GitHub Actions workflow files for creating releases on tag pushes on master as well as creating documentation on the `gh-pages` branch when a push to master happens. The templat

[2020-07-21 10:28] SirWindfield opened #231 "Global configuration file for default template"
Not sure if this is in-scope with the project, but a global configuration file would be a nice QoL feature. It could be used to specify a default template to use when none is passed to the CLI. I happen to almost always use the same template for my projects, so this would remove some annoying keystrokes each time :)

Maybe a `cargo-generate.toml` file inside the user's `~./config` directory. Crate

[2020-07-21 12:46] SirWindfield commented on #231
Looks like this is actually a duplicate of #210 (which I totally missed, sorry!).

[2020-07-21 12:46] #231 closed

[2020-07-21 12:47] SirWindfield commented on #210
@sassman I really like that idea! Is there interest in getting something like this merged into `cargo-generate`?

[2020-07-21 15:43] k0pernicus commented on #193
Hi @punkstarman

Sorry for the delay: I have to reinstall Windows from scratch and make the machine setup again because of a crash...
I will try to take a look at this this week-end, or next week.

Sorry again.

[2020-07-21 16:00] k0pernicus commented on #226
Hi @sassman

So, if I understood the request, you want to add a `description` field in the CLI to fill (and/or override?) the `description` key in Cargo.toml, that's right?

[2020-07-21 16:05] k0pernicus commented on #221
Hi @ZenoArrow,

Do you still have this issue?

Concerning your comment here:

cargo-generate will clone the project in a "dummy" project name, and make some process, before moving the generated project in the destination (and remove the older project).

About your issue, I think it is related to https://github.com/rust-lang/cargo/issues/6652, no?

[2020-07-21 16:46] k0pernicus commented on #230
You're 100% right - a feature like that can be appreciate, especially for big templates!

I really like the idea behind the configuration file - this can introduce a big new feature like "project customisation", as you only take the "addons" of the project you want...

[2020-07-21 16:53] k0pernicus commented on #211
Hi @xoac

Based on my experience, best would be a shell script with a basic for-loop in your URL instead of letting the CLI doing this...
Especially for error handling and user interaction.

Something like this could be helpful for you, no?

[code]

[2020-07-22 10:38] sassman commented on #226
Hi @k0pernicus,

basically yes. The `description` variable then can be used as you said in the `Cargo.toml` but also in the Readme. It does not really matter, it's just yet another template variable.

Actually I was thinking of it a bit further, there are use cases where even more variables are super helpful. So to generify this idea here, I wanted to propose a config file, named for examples `.ca

[2020-07-24 19:57] schell opened #236 "{{vars}} in files listed by .genignore cause a panic"
If any ignored files have `{{this_style}}` vars, `cargo generate` errs during template substitution.

Fixed by #235

Example:
[code]

[2020-07-26 01:57] dfang commented on #168
commentting all url section is not enough for me.

i had to comment init section to make it work.

[code]

[2020-07-30 18:18] #236 closed

[2020-08-01 02:40] Veetaha opened #238 "Update to the latest world version"
The world has gone so far ahead that we should catch up with its new breaking changes!

[2020-08-01 22:20] xanterx commented on #168
I am facing the same issue in Win10+WSL2, I had to execute the same command from outside of WSL (powershell/cmd) which works fine.

[2020-08-03 23:38] SirWindfield commented on #230
For reference, I finally had some time to finish up old projects of mine and tinkered around with this idea for https://github.com/SirWindfield/cargo-create. The name is a little bit misleading, as the tool is more of a general purpose project template generator than one specific for cargo. It does, however, register two binaries to make it more ergonomic inside the cargo workflow.

It doesn't con

[2020-08-24 18:27] MarcoIeni commented on #229
duplicate of #163
There is already an open pull request here: #164

[2020-08-24 18:30] MarcoIeni commented on #152
Is this issue still valid or maybe should we prefer github actions now?

[2020-08-24 19:50] xoac commented on #152
In my opinion you should use github acttions. [Here is example](https://github.com/xoac/crates-io-lib-template/blob/master/.github/workflows/main.yml) that should work out of the box.

[2020-08-29 21:47] MarcoIeni commented on #204
Actually you may have GitHub actions which has template variables like `{{project-name}}` inside.

Isn't it possible to ignore unknown variables like `${{ matrix.rust }}` and substitute only the known ones like `{{project-name}}`?

[2020-08-30 09:33] sassman commented on #204
Unfortunately the used template engine liquid does not have a functionality to gracefully render only provided variables and just ignore unprovided ones.

[2020-08-30 11:02] MarcoIeni commented on #204
I found out how to do it.

Basically, in order to escape a liquid variable you have to substitute `{{ unknown.variable }}` with `{{ "{{ unknown.variable " }}}}`

See an example [here](https://github.com/rust-github/template/blob/master/.github/workflows/cd.yml).

[2020-08-30 12:52] sassman commented on #204
You can at anytime use the `raw` tag to disable tag processing inside.
See the docs [here](https://github.com/Shopify/liquid/wiki/Liquid-for-Designers#raw).

[2020-08-30 12:58] MarcoIeni commented on #204
I tried to do that with [this](https://github.com/rust-github/template/blob/0b8bf865d7cfce13bc06852ad106bfe0a6c1a140/.github/workflows/cd.yml) version of the file but it gives me the following error:
[code]

[2020-08-30 13:00] sassman commented on #204
I guess you can give it a try with the master branch, the latest officially release does not yet contain the changes for this.

[2020-09-12 02:21] avrong opened #244 "Add option to disable git repo initialization"
It can work similarly to `--vcs none` in Cargo in, except here it should be contrasted from `--git` option (describing the template repo url) in `new` (and `init` #193) commands and support only git/no-vcs states in the current implementation.

This would help with rustwasm/wasm-pack#901.

[2020-09-13 10:46] #238 closed

[2020-09-18 11:46] Mubbly opened #247 "One-command template for feature-packed projects (wasm-js-template)"
I created a template that packs many useful features (based on thesis research and analysis) without needing any prior dependencies or separate installations: **[wasm-js-template](https://github.com/Mubbly/wasm-js-template)**.

Perhaps it could be included in [TEMPLATES.md](https://github.com/ashleygwilliams/cargo-generate/blob/master/TEMPLATES.md) - _"Generate feature-packed Rust/WebAssembly+Java

[2020-09-21 09:35] toasteater opened #249 "A way to get the latest crates.io version of a dependency"
We have recently started working on a [template for the `godot-rust` project](https://github.com/godot-rust/godot-rust-template), and since we want to make releases more often in the future, it would be very convenient if we can make it so that the generated projects always depend on the latest version available at the time of generation, without having to manually provide patches to the template

[2020-09-21 10:19] sassman commented on #249
Sounds like an nice feature.
Just one thing that would be difficult to solve is, if your template contains code, that code depends of a very specific api of your dependent crate. When auto update to latest versions, the template code is not necessarily compatible to the api of the latest version of a particular crate.
So eventually you would end up in updating your template anyways.
So safer would

[2020-09-21 10:32] toasteater commented on #249
I'm hoping that this would be possible to catch with some periodical CI, but yes, this is a valid concern for fast-moving crates. In our specific case, the template contains little code, and we don't expect the API to undergo large changes that require updates to it frequently, thus the original feature request.

I see that this might be a little too niche, so we'll stick to a normal Cargo.toml fo

[2020-09-27 12:33] macalimlim opened #250 "support for global variables"
support for global variables to be accessed in multiple files.

[2020-09-27 13:57] macalimlim opened #251 "support for an additional placeholder for stating the current host architecture"
support for an additional placeholder like `{{project-name}}` and/or `{{authors}}` containing the architecture of the host

[2020-09-28 10:52] #251 closed

[2020-09-30 08:48] npes-95 opened #253 "Install fails on macOS Catalina."
With `cargo 1.42.0`, `rustc 1.42.0` on macOS Catalina 10.15.7.

[code]

I was able to resolve the issue on my machine by applying the suggested correction, but it would be nice if this worked out the box.

[2020-10-01 01:36] macalimlim commented on #253
It would be better if you file it [here](https://github.com/rust-lang/cargo/issues)

[2020-10-01 11:36] k0pernicus commented on #253
Hi @npes-95,
as the stacktrace shows, this is an issue compiling the `cargo` crate, and not an issue with `cargo-generate`.

I think you will have to try with a recent version of `rustc` (and `cargo`).

[2020-10-04 07:56] npes-95 commented on #253
Thank you for your answers, I have filed a [new issue](https://github.com/rust-lang/cargo/issues/8751) in the `cargo` repo.

[2020-10-04 07:56] #253 closed

[2020-10-19 09:37] macalimlim opened #255 "(Not strictly an issue) How to specify a placeholder in a filename"
How to specify a placeholder in a filename? for example I want a file to be named same as the `crate_name` placeholder. I see in an earlier version this was supported, and it was removed in a later version. Why was this removed?

[2020-10-22 08:30] Rahix commented on #230
This is also an interesting features for project templates in embedded Rust:  A single project template might support a number of different microcontrollers or variants of MCUs which currently has to be configured by hand after generating the project (see [`cortex-m-quickstart`'s README](https://github.com/rust-embedded/cortex-m-quickstart#using-this-template) for an example).  I think it would be

[2020-10-25 23:17] ssalanski commented on #168
I also encountered this issue in Win10+WSL2, and found I was able to work around by setting the "git-fetch-with-cli" flag to true https://doc.rust-lang.org/cargo/reference/config.html#netgit-fetch-with-cli
[code]
seems like this bypasses the libgit library cargo otherwise uses, which [may be the issue](https://github.com/rustwasm/rustwasm.github.io/issues/52#issuecomment-498477848)

[2020-10-30 23:13] sandmor opened #256 "Shortcut name"
I want a manner to avoid copy-paste git URLs and instead of that specify an identifier, as the next example:
´´´
cargo generate orbtk
´´´

[2020-11-05 19:42] seanybaggins opened #257 "Allow user to create their own placeholders in the cargo-generate.toml file."
It would be nice if users can create their own placeholders so cargo generate can be used for more than just rust projects.

Example
[code]

[code]

Running `cargo generate --git <DOCKER_STACK_REPO>`
would trigger the typical prompts and...
[code]

[2020-11-09 14:32] macalimlim opened #258 "unable to generate a project when no master branch is present"
why does cargo-generate need a master branch when generating from a project repository by using this command?

`cargo generate --git /path/to/git/template --name foo`

at this [PR](https://github.com/godot-rust/godot-rust-template/pull/23) for godot-rust-template, we would like to setup a test on the template where we could validate if the generated project could actually compile and run. Also ple

[2020-11-10 12:16] Nemo157 opened #259 "Creates an empty `.cargo-ok` file"
[code]

This file causes issues for `cargo` (though that should be fixed in 1.49) https://github.com/rust-lang/cargo/issues/8816

[2020-11-12 14:58] NangiDev opened #260 "Codingame rust template"
I created this template for codingame projects.
https://github.com/NangiDev/rust-codingame-template

The template sets up a project to be used with https://github.com/slava-sh/rust-bundler to generate a single file.
Then I use codingame's own chrome extension and app to automatically sync the singlefile.rs to the website.

It creates a pretty good workflow.

[2020-11-15 18:57] NangiDev commented on #260
Seems to be some problems with the rust-bundler and newer version of rust.
It does not understand keyword crate

[2020-11-16 05:02] nm2675257 opened #261 "win10 install error: error: linking with `x86_64-w64-mingw32-gcc` failed: exit code: 1"

[2020-11-16 05:03] nm2675257 commented on #261
Help me look at this problem

[2020-11-20 04:44] Zageron commented on #168
Would just like to confirm that this solution also worked for me. Thank you @ssalanski !

[code]

[2020-11-20 09:20] k0pernicus commented on #168
Thanks to all, will close the original issue then.

[2020-11-20 09:20] #168 closed

[2020-11-20 09:23] k0pernicus commented on #261
Hi, this seems an issue with your Rust setup.

Please take a look, for example, at this issue: https://github.com/rust-lang/rust/pull/67429

[2020-11-20 09:23] #261 closed

[2020-11-23 11:38] vbrandl opened #262 "Template for library projects"
It would be cool to have a possibility to create library projects using the template, so just like with `cargo new --lib` one could call `cargo generate --git https://github.com/rust-github/template.git --lib`

To do this, some kind of conditional branching would be required in the templating mechanism to

- enable publishing binaries on the GitHub release page only for binary projects
- Add `Carg

[2020-11-25 11:45] xi6th commented on #196
use cargo install cargo-generate --features vendored-openssl

[2020-12-01 13:59] NangiDev commented on #260
A fix has been requested from Mariomka to fix this issue. Waiting for review/accept or you can use Mariomka's version by building it manually

https://github.com/mariomka/rust-bundler

[2020-12-27 17:47] MarcoIeni commented on #226
sassman, basically I think you are proposing custom variables, which is a feature I would really like, too, but if that's the case this issue is a duplicate of https://github.com/ashleygwilliams/cargo-generate/issues/17 .
If you agree you can close this.

[2020-12-27 17:49] MarcoIeni commented on #250
Can you explain this better? Maybe with an example? Thanks!

[2020-12-27 17:52] MarcoIeni commented on #152
I work on moving to GitHub actions, if maintainers agree this is needed.

[2020-12-27 19:17] MarcoIeni commented on #258
After #263 got merged, cargo generate looks by default for a `main` branch, too.
This is not released yet.

Anyway you can already specify a branch with the `--branch` flag.

Example:
`cargo generate --git https://github.com/rust-github/template --branch my-different-branch`

If you confirm that specifying the flag solves the issue for you, this issue could be closed when this feature is documente

[2020-12-27 19:42] MarcoIeni commented on #256
You can specify a git repo from GitHub in the format `owner/repository`.

For example
[code]

is the same of

[code]

Is this enough for you?

[2020-12-27 19:43] MarcoIeni commented on #257
duplicate of #17

[2020-12-27 20:16] MarcoIeni commented on #40
So the problem is that you want to specify variables that not related to cargo generate in the format `{{variable-name}}`?
You can do it by:
- excluding the file via [include/exclude](https://github.com/ashleygwilliams/cargo-generate#include--exclude)
- use the format `{{ "${{ variable-name " }}}}`. See [example](https://github.com/rust-github/template/blob/2925bb978c8fd8b4ef184891d0a0c31ba077081b

[2020-12-27 20:20] MarcoIeni commented on #14
This issue can be closed I think.

[2020-12-27 20:28] MarcoIeni commented on #114
This should be closed because it's a duplicate of #18 in my opinion.
k0pernicus could report its thoughts in that issue.

[2020-12-27 21:25] MarcoIeni opened #268 "Is cargo gen alias working as expected?"
If you install `cargo generate` with `cargo install generate`, then `cargo gen` doesn't work (at least for me).
Instead if I run `cargo run -- gen` it works as expected.

Am I missing something? Since the majority of the users are installing `cargo generate` by using `cargo install` shouldn't we just remove the `cargo gen` alias? It might be confusing.

[2020-12-29 11:37] k0pernicus commented on #114
Duplicate of #18

[2020-12-29 11:37] #114 closed

[2021-01-08 18:08] macalimlim commented on #250
@MarcoIeni  Maybe have a `globals` file. In that file you can define global variables to be used in every file template. As an example of the use case for this is this [file](https://github.com/godot-rust/godot-rust-template/blob/master/Makefile) and this [file](https://github.com/godot-rust/godot-rust-template/blob/master/godot/export_presets.cfg). Both have common variable(s).

[2021-01-08 18:17] macalimlim commented on #258
@MarcoIeni  Hmmm, how would specifying a branch to the `cargo generate` command work on a PR scenario in travis?

[2021-01-09 14:11] #259 closed

[2021-01-09 16:00] k0pernicus commented on #255
`{{crate_name}}` is still commonly used in our template and works with the current version 🤔

I think I did not understood fully your issue...

[2021-01-09 17:55] macalimlim commented on #255
Example, I want to have a file named like `{(crate_name}}.txt` within my project folder...

[2021-01-09 18:41] sassman commented on #255
I think that is very common case, that placeholders are used as part of a file or even directory name.

[2021-01-09 19:04] k0pernicus commented on #255
Sorry @macalimlim, I read too fast the issue description...

Indeed, we added this via this PR: https://github.com/ashleygwilliams/cargo-generate/pull/161, that I wrote.
However, there were some issues with this PR: https://github.com/ashleygwilliams/cargo-generate/pull/174, that you can read here: https://github.com/ashleygwilliams/cargo-generate/pull/182.

The reasons are still valid (imoo), and

[2021-01-10 09:49] k0pernicus commented on #268
Thanks @MarcoIeni for reporting this issue.

I don't know if this is an issue with the `structopt` crate or a more general `cargo` subcommand issue to be honest 🤔

I tried to revert the recent changes in `main.rs` and `lib.rs` (to know if the `visible_alias` directive is not buggy), and this did not changed the behaviour...
Then, I reverted the `structopt` crate version from `0.3.15` to `0.2.15` a

[2021-01-10 09:54] k0pernicus commented on #260
Hi,
do not hesitate to make a PR in order to introduce your project inside our TEMPLATE.md file 😉

[2021-01-10 10:00] k0pernicus commented on #258
Hi,
@MarcoIeni has right: the current version of cargo-generate (not published yet) is looking for `master` and `main`.
If you want to change the branch, you can use the `--branch` option, as you did it [there](https://github.com/godot-rust/godot-rust-template/pull/23/files) in `sh/test-template.sh`, line 17.

[2021-01-10 10:02] k0pernicus commented on #257
Closing it as duplicate of #17.

Please to contribute to the original issue @seanybaggins :)
Thanks in advance

[2021-01-10 10:02] #257 closed

[2021-01-10 11:36] sassman commented on #17
I would like to suggest a slightly different format of the `cargo-generate.toml` (as mentioned by @theduke)
The proposal is to have a dedicated section for variables and have it named placeholders (to be a bit more precise what sort of variables they are)

[code]

Then the default variable often is going to be a simple string, for example someone may have a `summary` placeholder for their project

[2021-01-10 15:07] macalimlim commented on #258
Hi, @k0pernicus uhhm I'm confused how it will work when someone pushed a PR from a fork of the template.

[2021-01-10 15:14] k0pernicus commented on #258
When someone wants to push something he will have to make his remote & branch public, and I think you can have this information using a Travis environment variable to fork & test it.

[2021-01-11 11:19] pedrohjordao commented on #17
I'm thinking about allocating some time to implement a proof of concept for it since I believe it is a very important functionality for the project.
It doesn't see too complicated, any sharp edges I should expect?

[2021-01-11 11:52] k0pernicus commented on #255
Closing it as duplicate of #159

[2021-01-11 11:54] k0pernicus commented on #159
Hi @Michael-F-Bryan , you can take a look at how I proposed it a loooong time ago (https://github.com/ashleygwilliams/cargo-generate/pull/161) and propose a solution to solve the issue from @xortive at this time (see #182 for the motivation behind the revert at this time).

[2021-01-14 17:21] k0pernicus opened #270 "Project state: it's time to fork"
After trying my best to maintain as good as possible this project, it is time for me to stop there.

I am facing several issues now:
1. the build / merge system is broken due to an error (as you may found [here](https://github.com/ashleygwilliams/cargo-generate/pull/264) for example) between Travis and the Github API - based on the solution described [here](https://github.community/t/expected-wait

[2021-01-14 17:42] sassman commented on #270
What a sad day for the project. But of course totally understandable. So all the best for your future projects.

I'd like to avoid the forking if possible, and would rather ask the maintainers or the owner @ashleygwilliams to support me on that matters to maybe hand over some capabilities (meaning access to the settings etc).
The reason is IMO too many abandoned crates does not contribute well to

[2021-01-14 17:49] k0pernicus commented on #270
I totally agree: avoid to fork and continue to maintain the project is way better than a fork...
Unfortunately, it seems my comments & mails did not reached the original maintainer.

Thanks in advance @sassman :)

[2021-01-15 04:28] bilelmoussaoui commented on #210
I have a similar use case here https://gitlab.gnome.org/bilelmoussaoui/gtk-rust-template/-/issues/7 where I would like to provide a template for gtk3 & gtk4 without having to duplicate a bunch of files so I guess something like this would work somehow?

[2021-01-15 14:19] pedrohjordao commented on #17
I'm slowly going through an implementation, but I want to get the ball rolling before adding any further complexity. @sassman I will be following your scheme since it is the one that looks the cleanest for me. I'm just not 100% sure what is the point of the  `type` attribute? For now I'm only handling `string`s since it seems to be the easiest option.

[2021-01-15 16:34] sassman commented on #17
I think the major benefit of having a `type` property there is that one can handle things different, for example a boolean type can be then used in a template as a simple `if` `else` case as it was pointed out by @theduke

for example

[code]

whereas a `type = "string"` would be used slightly different:

[code]

But those things are details and can be enriched later. I guess the `type = "string"`

[2021-01-15 17:05] pedrohjordao commented on #17
Cool, I see your point...
I don't think it should be too hard to extend what I'm doing to add it... I'm going to try it out over the weekend.

[2021-01-15 17:50] sassman commented on #270
@k0pernicus I reached out to @ashleygwilliams and she proposes a handover / kickoff call this weekend, you wanna participate or are completely out?

[2021-01-15 17:52] sassman commented on #270
Anyone else interested?

@EverlastingBugstopper

[2021-01-15 17:57] EverlastingBugstopper commented on #270
hey! i appreciate the ping but i'm not really working on any projects tangential to `cargo-generate` anymore and like @k0pernicus said it likely makes sense for folks a bit more invested in the project/open to maintenance responsibilities to take the reins on this.

[2021-01-15 18:14] k0pernicus commented on #270
Awesome @sassman, thanks. I discussed a bit with @ashleygwilliams and I may be available this weekend.
Do not hesitate to invite me, but if I don't answer I will certainly be busy with the family :)

[2021-01-18 15:37] sassman commented on #270
I think we have successfully prevented the forking, thanks to @ashleygwilliams we got now an own gh org for cargo-generate, that allows us to operate more independently and make faster decisions.
Also the ci/cd issues is currently WIP and hopefully soon fixed.

If that would be ok for you @k0pernicus we may can close this issue :)

[2021-01-18 17:34] k0pernicus commented on #270
Thanks all for this awesome work :)

Long life to cargo-generate 🎉

[2021-01-18 17:34] #270 closed

[2021-01-20 10:07] pedrohjordao commented on #17
Just a quick update: I'm mostly done with it, I just need to write some tests
Hopefully I'll be able to open a PR this weekend

[2021-01-20 11:58] sassman commented on #17
Great to hear, cool stuff!

If you want (no suggestion just an offer) you can open a draft PR in the meantime and get some early feedback.

[2021-01-20 12:36] pedrohjordao commented on #17
There you go!

[2021-01-25 07:14] sinyo-matu opened #276 "compile error when I run 'cargo install cargo-generate'"
Hello! I got following error when cargo install.

compile target : aarch64-apple-darwin

[2021-01-25 14:04] sinyo-matu commented on #276
https://github.com/rust-lang/cargo/issues/9101#issue-793339634
it seems like a cargo issue.
close this one

[2021-01-25 14:04] #276 closed

[2021-01-25 16:29] yanv1991 opened #279 "type annotations needed"
getting error in the installation Compiling cargo v0.46.1
error[E0283]: type annotations needed

[code]

[2021-01-25 17:25] sassman commented on #279
Can you please provide your cargo and rustc versions?

[2021-01-25 17:53] sassman commented on #152
I think we can close this, since now all is migrated to GitHub actions and working quite fine.

[2021-01-25 17:53] #152 closed

[2021-01-25 19:45] Gago55 commented on #279
I've exact same problem when I'm trying to install cargo-generate. My cargo and rustc version is 1.49.0

[2021-01-25 19:51] k0pernicus commented on #279
Hi,
Can you try to update your local version to master please?

I tried to build the latest version of cargo-generate (0.5.2) using cargo and rustc version 1.49.0 and did not had any issue at all...
However, `cargo install cargo-generate` failed in my machine *but* the version on crates.io is not the latest one (cargo-generate v0.5.1, not 0.5.2).

OS: xnu-7195.60.75~1/RELEASE_ARM64_T8101 arm64 (ma

[2021-01-25 21:36] sassman commented on #279
We hope to release v0.5.2 very soon, in fact all is tagged and ready just not yet on crates.io due to organisational issues.

[2021-01-26 00:42] lindeneau-scott commented on #279
I cannot install either v0.5.1 or v0.5.2 (master) with rustc/cargo 1.49.0 or 1.48.0.

![image](https://user-images.githubusercontent.com/51243227/105783491-72d92d00-5f2b-11eb-886f-0ba917c1e13a.png)

[code]

[code]

[2021-01-26 01:02] lindeneau-scott commented on #279
Apparently this is an issue caused by a failure in an upstream component and should be patched in an upcoming release.

Workaround:
[code]

Temporary workaround from the same thread:
https://github.com/rust-lang/cargo/issues/9101

[2021-01-26 08:04] sassman commented on #279
Seems that the latest serde version causes this problem, as you can also see in [pull/278](https://github.com/cargo-generate/cargo-generate/pull/278)

[2021-01-28 09:44] Corfucinas commented on #279
Following this thread (same error as above).

[2021-02-01 02:50] milespossing commented on #279
Man this is the second issue I've seen with a breaking change in serde in as many months

[2021-02-08 18:59] sassman commented on #279
The latest version of serde in [pull/287](https://github.com/cargo-generate/cargo-generate/pull/287) solves this issue.

Release v0.5.3 is in preparation and will fix it.

[2021-02-08 20:25] sassman commented on #279
[Release v0.5.3](https://github.com/cargo-generate/cargo-generate/releases/tag/v0.5.3) is now out, problem should be solved.

@yanv1991 could you please double check?

[2021-02-08 20:38] taurr commented on #210
I might have the start for this - see #256

[2021-02-08 21:36] sassman commented on #256
@taurr I'm currently checking your favourites feature and it's looking good so far. Let's move the discussion over to #210 since this issue is basically already implemented [since longer](https://github.com/cargo-generate/cargo-generate/commit/d2bb2e5e21eb650d1d2f9e9470921799c7ff3c72)

[2021-02-08 21:36] #256 closed

[2021-02-08 21:41] sassman commented on #210
Hi @taurr,

your [feature/favorites](https://github.com/cargo-generate/cargo-generate/compare/master...taurr:feature-favorites) is even better than the proposal above.

Do you want to add a few more tests and contribute with a PR? I would certainly appreciate it.

[2021-02-08 21:55] taurr commented on #210
Hi @sassman

I will add a few more tests tests, then make the PR - that was my intention from the get go, just didn't know how my proposal would be "judged" (first time Github contributer!) 😄

[2021-02-08 22:07] sassman opened #291 "[RFC] generating partial templates into an existing project"
**As a** Developer
**I want** to generate a partial into an existing project
**So that** I can apply feature by feature to an existing project

## An example

Let's assume I've started off by a project template a while ago, the project meanwhile grew.
Not I need the `feature` of a github workflow build pipeline in my existing project.

Let's assume further I have already a project template or a gi

[2021-02-08 22:16] sassman commented on #210
Any contribution that is helpful and reasonable is very welcome, and this seems to be useful to not only you.

BTW congrats to your first time contribution on GitHub.

[2021-02-09 02:39] Corfucinas commented on #279
@sassman

I managed to install it without problems `cargo install cargo-generate` on Ubuntu 20.04

[2021-02-09 10:00] #279 closed

[2021-02-10 17:23] taurr commented on #262
I honestly don't see the issue here?
I've been using cargo-generate to create library projects regularly, but obviously the template must be designed for it.

Only issue I've had in doing so was the annoying little detail that cargo-generate insisted on initializing the folder it creates as a git repository, even though I was generating within an already existing repo - that however  will be fixed

[2021-02-10 17:52] taurr commented on #244
#290 disables git initialization when generating stuff within an existing repository - will it be enough, or will an actual option still be needed if/when it is merged?

I'd be happy to volunteer to implement it, though what should the option be called?

[2021-02-10 18:15] sassman commented on #244
I guess this was more of a general feature request since cargo new behaves this way. For consistency reasons I think it makes sense.

Of course every contribution is warmly welcomed.

[2021-02-10 18:18] vbrandl commented on #262
Sure you can use different templates for binary and library projects. The motivation behind my proposal was to have a single template for both binary and library projects.

I just thought it might be cool to have a similar UX as `cargo new`. If this is a non-goal for the project, this issue can be closed, but I think some users might appreciate this feature.

[2021-02-10 19:50] macalimlim commented on #258
closing this, will be using github actions instead

[2021-02-10 19:50] #258 closed

[2021-02-15 14:56] sassman commented on #17
Major pieces of this landed with [pr/275](https://github.com/cargo-generate/cargo-generate/pull/275)

I see only one missing thing compared to the original feature request above, that is user global custom variables (right now only template specific custom variables are supported).

[2021-02-15 15:11] sassman commented on #262
I believe that is very valuable.
The only thing where I'm not certain is how to approach that. Because in fact the template itself must support that dual-behaviour. If the template does not support it, there is nothing that cargo-generate can do about it.

So one thing we could do here is that when a user calls cargo-generate with `--lib` like
[code]
some pre-populated variables will made availabl

[2021-02-15 15:17] sassman commented on #247
@Mubbly feel free to provide a PR for this. Useful templates are alway very appreciated.

[2021-02-15 15:20] sassman commented on #143
I believe this issue is pretty old, also myself being a mac user never encountered this.
So I would close this now. Happy to reopen it if someone still encounters it.

[2021-02-15 15:20] #143 closed

[2021-02-15 16:56] taurr commented on #262
This part...

is just baad...

Honestly, in order for this feature to be useful, there must be a way to get predictive behavior - otherwise it'll just end up being more confusing than it's worth.

I do see the benefit though.

## Suggestion:

Expand the `template` section of `cargo-generate.toml`. E.g.:

[code]

Then utilize that information in order to inform the user whether the template support

[2021-02-15 17:41] taurr commented on #291
To be more consistent, and supporting the new `favorite` feature, maybe the syntax should be more in line with:

[code]

or with favorites:

[code]

**However**... I am a bit conflicted as to what I think of the feature as a whole - somhow it is as if it is a simple job for a script, not really a feature?

something in the lines of:

[code]

[2021-02-15 17:54] taurr commented on #17
Also missing as pr. the user store from th embedded WG: custom validation rules.
If the user selects specific options, later possible options may be affected.

[2021-02-15 18:00] sassman commented on #262
I think that won't be necessary, since on master we have meanwhile a feature for custom placeholders, that a user can define, that is documented [here](https://github.com/cargo-generate/cargo-generate/blob/master/src/lib.rs#L30) that can be totally reused for this.

Essentially as you say, if a variable (with a naming convention) is present we can offer it, if absent we cannot. The type of this va

[2021-02-15 18:01] taurr commented on #159
#255 also relates to this!

[2021-02-15 18:04] taurr commented on #250
Actually, I will consider this a subset of (Custom variables. #17)

Should probably be marked duplicate!

[2021-02-15 18:10] taurr commented on #249
Why not just add the proper version pattern to cargo.toml then?

If it just uses

[code]

then a library will automatically be the latest released version. Support for locking by semantic versioning is built in, and compatibility is chosen entirely by the template author.

Then the user can always lock to specific desired versions that match the actual need.

[2021-02-15 18:12] taurr commented on #244
@sassman
Maybe close this one?

[2021-02-15 18:20] taurr commented on #230
@Rahix
#17 Offers cusom variables now - AFAIK I believe it only supports strings for now, but given it is expanded to support e.g. booleans, wouldn't that solve this issue??

I could see #17 expanded with a `--default-vars <file-with-simple-vairable-assignments` in order to even support templating the templates 😆

[2021-02-15 18:21] taurr commented on #17
Oh, and types - especially booleans - then this one would probably also solve #230

[2021-02-15 18:31] taurr commented on #193
@k0pernicus, @punkstarman

#293 Adds the possibility to disable git initialization.
#290 Ensures that cargo-generate won't initialize a repo inside another repo

Together, don't they solve this??

[2021-02-15 18:39] taurr commented on #262
@sassman
Yep, just saw it too - it's nice, especially that it supports `bool` from start - that way it solves a lot of issues I guess.

Only issue with using #17 for this, is the lack of support for `--lib` or `--bin` that is natural for most `cargo` users. IMHO I feel this would provide a more intuitive experience for choosing between lib and bin.

But you are right; #17 can simulate this.

[2021-02-15 18:47] sassman commented on #262
What would be possible is to provide with `--lib` or `--bin` a sort of shortcut to initialize the variable (instead of asking for it in a dialog mode), so the author of the template must still declare this choice variable, but the users using the template would be able to avoid the interactive dialog by providing the `--lib` or `--bin` that in fact would be just initialize the `crate_type` variabl

[2021-02-15 19:01] taurr commented on #262
But in case `--lib` is specified but not defined as part of any choice variable - then what?

Do we then show an error as the user specified a flag that wasn't defined (supported)?
What about other flags? Do we only support `lib` and `bin` this way? Why?

Again; I can see #17 solve this one, I'm just not sure it is *the* solution.

[2021-02-15 19:13] sassman commented on #249
I've tried to point out above that there are some potential footguns hidden:

for example your template depends on `clap` and the code is written with `clap = "0.2.*"`, and that works and compiles. When rewriting that dependency now as `clap = "*"` and meanwhile `clap` released a breaking version `1.0.0` or even `0.3.0` that slightly changes the api. This would then lead to the final project not c

[2021-02-15 19:27] sassman commented on #262
Presenting the user a warning along the lines that this given template does not support the crate type library or crate type binary, that he needs to verify the result himself. Maybe also pointing out that he needs to contact the template owner for further questions.

For now, I'd say yes. No other shortcuts only those.

Probably it's as close as possible we can get to a practical solution. This c

[2021-02-15 19:36] sassman commented on #291
It is quite usual that option arguments are not depending on a positional order (think the order cannot be enforced at all)

Well, one could argue that the whole feature set of of cargo-generate can be a script.

IMO: it's all about lifting obstacles, so if I can apply certain template partials to an existing project without scripting it, it would reduce my mental load and helps me a great deal.

[2021-02-15 19:38] sassman commented on #244
This will be released with `0.6.0` (pretty soon) and can be tried out on master.

[2021-02-15 19:38] #244 closed

[2021-02-15 20:52] punkstarman commented on #193
@taurr, no. With only those features, `cargo-generate` still creates a new directory for the project.

[2021-02-16 10:10] taurr commented on #230
#17 (Custom Variables), fully supports several types, **including** a bool that can be used for this exact purpose.
It even supports the external file with variable values.

[2021-02-16 13:19] taurr commented on #291
Another thought:
If we add `--init` (and thus can close e.g. #193), this could be implemented using a `--filter` option.
Allowing `--filter` 1 or more times would then allow the user to pick the needed files/folders from the generated template.

As I see it, this would allow maximum flexibility :-)

[2021-02-19 09:29] sassman commented on #291
For skip the git init #193 there is PR #194 that still needs a little fine tuning.

Allowing the picking of single files one or multiple times sound actually pretty neat. But rather calling it `--filter` I tend to call it `--pick` (also `--partial` was not nice), but pick sounds very intuitive for me.

[2021-02-19 11:48] taurr commented on #291
@sassman:
I like naming the option `--pick`...

**But** one thought related to my own new `--dir` option => This new `--pick` is actually just my `--dir` option, with added multiplicity and option to allow files!

Maybe we should just rename `--dir` into `--pick` now, and call it part 1 of this feature? (it would be trivial for me to do).

Even the name `--pick` resonates with #295

[2021-02-19 12:07] taurr commented on #291
Or maybe just as an alias to `--dir`

[2021-02-19 12:17] sassman commented on #291
Let me make a full example to avoid a little but important misunderstanding here:
[code]

would actually:

- take the git repo from `https://github.com/my-github-handle/rust-build-pipeline`
- picks from there the only the file `.github/workflows/build.yml`
- templates this file with all the configuration that is defined in the repositories `cargo-generate.toml` file
- will write this picked file i

[2021-02-19 12:29] taurr commented on #291
Exactly my thought - that's why I edited my previous comment a little :-)

I was just because I noted some key functionality that is actually the same internally. As stated above: `--pick` also *specifies paths relative to the template*, whereas `--dir` is *relative to the current working dir*.

[2021-02-19 12:32] sassman opened #299 "mdbook for every feature with some useful examples"
As a developer
I want to read about every feature in a nice mdbook
So that I can get also nice examples of how to use features presented

Not all given and coming features are well documented in the `README.md` also Template variables are way to detailed documented for a `README.md`.

My proposal is to start a mdbook with a little Quick Start chapter and then for every feature a little chapter tha

[2021-02-23 12:59] pmuens commented on #196
Ran into the exact same problem on macOS and can confirm that @xi6th fix of using `cargo install cargo-generate --features vendored-openssl` works :+1:

[2021-02-24 15:20] jonas-schievink opened #302 "Git Error: an unknown git error occurred; code=NotFound (-3)"
I'm getting an unhelpful error in this CI run that I can't pinpoint to the actual problem: https://github.com/knurling-rs/app-template/pull/46/checks?check_run_id=1971245356

Any ideas as to what might be causing this? Locally it all seems to work fine, even with detached HEAD.

[2021-02-24 15:39] sassman commented on #302
Hi there, I commented on the PR of yours.

TL;DR: [checkout our github workflow config](https://github.com/cargo-generate/cargo-generate/blob/master/.github/workflows/build.yml#L80), that was also causing issues.

[2021-02-26 08:20] taurr commented on #291
@sassman:

I believe this one comment of yours is the reason for our confusion in #296 ?

I do see what you mean here - but how does this fit in with the use of e.g #194 ?

We use
[code]

to generate **the full template into a new directory named _\<name\>_**.

We will use (future option not yet fully defined from #194):
[code]

to generate **the full template into $CWD**.

Then we have `--pick`,

[2021-02-26 08:35] sassman commented on #291
yes

exactly, only picking the selected part, and *not* doing full fledged projected generation. Means, what you pick is what you get, into your `$CWD`, with the same name as `picked`.

So when `--pick .github/workflows/build.yml` it will take that one from the template (git or dir) and put it "rendered" just into there `$CWD`. So `$CWD/.github/workflows/build.yml` would be the result.

That means

[2021-02-26 08:35] taurr commented on #291
Come to think about it, `--git` and `--dir` both specifies the **source** of the template.

`--init` alters the **destination**.

`--pick` specifies **what** to take from the template (And in this case I *still* think it should create a new folder unless `--init` is specified).

What I still miss, is the **source** option to specify a subdir within a repository - which will allow us to have multip

[2021-02-26 08:44] taurr commented on #291
This said, my opinion on the destination of `--pick` is weak, and I will make it so it goes to $CWD as that also has it's merrits.

However, I *strongly* feel the need for this part:

Please allow us to combine `--git` and `--dir` - or come up with another option name for specifying the **source* within a git repository.

[2021-02-26 08:55] sassman commented on #291
Ok, I'm not sure If I do see a contradiction here. Above we have discussed the `--pick` with a file. That is fine. Let's have a look how that would work with a directory.

## Given
- a git repo or directory X that contains 2 folders like below:
[code]
- also given I'm in a certain project Y that I want to add the whole subtree `X/rust-bin-template` into

## Then
I would call `cargo generate --dir

[2021-02-26 09:15] taurr commented on #291
It would, but `--pick` would not cause cargo-generate.toml to be picked up in the sub-folder.

It only alters *what* gets copied to the destination, and `cargo-generate` only looks for its files in the root of the *source*

[2021-02-26 09:35] sassman commented on #291
That is a good thing to discuss.
IMO `--pick` should still pick up the `cargo-generate.toml` in the given repo / dir. So that this part is also considered.

For subfolders containing this file, I have not yet a clear opinion how to handle it. But maybe a suggestion: if the argument of `--pick` is a folder that contains a `cargo-generate.toml` it would be preferred over the root `cargo-generate.tom

[2021-02-26 10:53] taurr commented on #291
@sassman

Not UML, but grafically, this is aproximately how it works atm: ![asd](http://www.plantuml.com/plantuml/svg/dL6zZjim3Dxv5ApHrLV4umtN0t9j7w01EZGT18bsX9D5GwBH2vfxzz9AP1ZDLWs9J7q_v4TupcAIp6F05ve2dqUA0iOA9vmp9J235h2n9WtSwfsI4MhGPBG3sC2pmynpiWGz1qS9cw-9yWajJsVa7eN6ALIAZDCA-_8scUZ8tI4wWCKPsoUrm4TishRvENYvE9z-LJDzUNXusdor2bUouh-HO5zwgCeLTlrJOeNk0qT2JgLRq5gLwVJnsk0g0dqo8sbAMRvJ82lu1r3FYTxCm14R7x

[2021-02-26 12:42] taurr commented on #291
This diagram might better explain how I saw it:

![diagram](http://www.plantuml.com/plantuml/svg/ZLB1ZjCm4BtxAqOgXzPIDkBQBjMYHUB2WGCIPsyoJKTnFCPsGD66_NOSfuaS5X0-MFRupRmtRomUV50kz9s6zrMWxnG6aIA2Bh1_AOg60aZfkNSLIdc0S4K3-m7zGK1Sn-czqcmmGm6PmF4UEYlbc70sbgH0RA0e0dPMgu15JGvsLcbi7AA1vuISURSWAUF-cZsjtITghk6Zm-4evP8LDRnR19Itx3AbeFO8UyD_B73_T5ugt9TFvwp6YZOS4DoK8I1RZzph6ZHp2nTsK2dNSD6WGHThtGNkz0QkJ3sP55ydqr4

[2021-02-26 13:30] taurr commented on #291
or even like this:
![diagram](http://www.plantuml.com/plantuml/svg/dLBDYjim4BxhAGQbXyIGfhrwAIoqq4kXFHHw5iua6I9hL4dk4jRPPw-ahcN7-D2D3uuy6Nq_Cz-Z3yg5hjKY7mGTOFsotHufG5Lvxbo3LRM1S483wmlwZO3urEd_HhD1a7BianB81CwrqDfKw7E_ZT0KY0q4RArM0RTxSh2oIkFHOSH-pds9NSh8VzDMLV6TmEOwyhFwHiTJ-EhmKYVUuMPMyscKiYiektmLjKTO6tupK04mUphaqrKKCBYraTMFurasK3TiB_CvpgPubyXbbvRCkKRds3sKufcqdfZwznRZrkHtctwLbg-BgZKtaJOIDieTkUphVU1MH

[2021-02-26 14:47] taurr commented on #291
In your specific case

[code]

would do _almost_ what you want. namely generate

[code]

If you wanted it in the current dir, I guess we would need #193... that would be something along the lines of

[code]

whereas, if I **only** wanted e.g. the license file, I could do (and here I grant it would be stupid to create the project dir):

[code]

which would generate

[code]

[2021-02-26 21:03] autodidaddict opened #304 "Respect the default branch when generating from git"
This comes up a lot when the template in git has a default branch of `main` rather than `master`. Cargo generate assumes that the default branch name is `master`, and so people get strange errors when trying to generate from a repository that doesn't use `master` as the default.

[2021-02-26 23:23] sassman commented on #304
What version do you use?

Should be closed since #263 got merged and version v0.5.3 shipped it.

[2021-03-01 00:28] sassman commented on #291
That was very helpful, the `--init` option does make sense now and very nice drawing btw.

However, the the `--dir` and `--git` should both only take care of selecting the source that will be processed. IMO that is the stage of collecting the sources, and should behave the same, for sources from git and sources from dir. Means at this point also a config file in the source dir (`--dir` or `--git`)

[2021-03-01 15:36] taurr commented on #291
@sassman

Please note that I did/do NOT intend to use `--template-dir` together with `--dir` as the user could just use `--dir` alone! Using these 2 together does not make any sense.

On the behavior of `--pick` - I must admit that I do not see how these can easily be merged without conflicting and confusing behavior.

## Common usecases

### Scenario 1.1 (current)

#### Given

[code]

##### and

[2021-03-01 16:11] autodidaddict commented on #304
I was on 0.3.0, my apologies. I _always_ forget to do a `force` when installing.

Honestly I think `cargo update` should update all of the things you've `cargo install`ed as well. this would avoid a lot of unnecessary confusion like this.

[2021-03-01 16:11] #304 closed

[2021-03-01 16:49] sassman commented on #304
no worries.

This might be then for you:

[code]

it will take care of updating all `cargo install`ed binaries in one shot.

[2021-03-01 17:01] autodidaddict commented on #304
Oh nice. I did not know about that crate.

[2021-03-03 20:49] MarcoIeni commented on #299
I am one of the maintainers of https://github.com/rust-unofficial/patterns
We have a continuous deployment with github actions that updates https://rust-unofficial.github.io/patterns/ for every commit and a continuous integration that does some check on every commit.
If you want I can setup something similar for cargo-generate.
Create a `book` repository under this org, enable github pages in the

[2021-03-05 18:00] sassman commented on #299
Thanks for the offer @MarcoIeni. Sounds pretty awesome.
The only thing I'm still a bit hesitating, is if an own mdbook is justified or not, I'm not sure if we hit that complexity level already or not.

[2021-03-05 18:00] sassman commented on #291
@taurr thanks for that summary, I'm still a bit overwhelmed and need to process that all.

[2021-03-07 09:14] MarcoIeni commented on #299
What's the alternative?

[2021-03-07 09:24] sassman commented on #299
The alternative would be to keep things simple, and stick to the README.md in the repo and link examples to repositories (to demonstrate the configurabilities)

[2021-03-07 12:39] sassman commented on #302
@jonas-schievink I've added an [e2e test](https://github.com/cargo-generate/cargo-generate/actions/runs/625259929) to be able to verify this behaviour when using cargo-generate on ci runs.

However, as you can see the runs where all successful, could it be that there is an issue in the template repo that you folks are using?

[2021-03-07 14:21] sassman commented on #268
right now there is no way to ship with an alias.

Therefore one must create the alias themself, [read more about this](https://github.com/cargo-generate/cargo-generate#cargo-gen---alias)

[2021-03-07 14:21] #268 closed

[2021-03-08 16:03] taurr commented on #291
Well, I know what I prefer and as I said; I don't even see how to get it working properly otherwise.

But I'm really not the deciding factor here - what do other users think?

[2021-03-08 22:03] MarcoIeni commented on #299
I think that an mdbook could be nice, but we can wait for the opinions of other users.

[2021-03-25 19:33] grigorys93 opened #318 "Error while installing cargo-generate"
I get the following error from running `cargo install cargo-generate`.
Would really appreciate some help.

   --> /home/gsol/.cargo/registry/src/github.com-1ecc6299db9ec823/cargo-0.51.0/src/cargo/ops/registry/auth.rs:179:22
    |
179 |             writeln!(child.stdin.as_ref().unwrap(), "{}", token).chain_err(|| {
    |                      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ cannot borrow as mutable
er

[2021-03-28 12:56] PI-Victor commented on #302
cargo-generate is incompatible with overwriting git connection protocol

if you have this in your `~/.gitconfig`:

[code]

comment it out.

[2021-03-29 12:09] sassman commented on #318
could you please provide rustc and cargo versions that you are using?

[2021-03-29 13:49] grigorys93 commented on #318
Thanks for getting back to me.

I have both rustc and cargo at version 1.47.0.

[2021-03-29 19:15] sassman commented on #318
I've tried to reproduce it on latest rustc and cargo on a fresh ubuntu docker container, but it worked all well.
I only could ask you to upgrade to latest rustc and cargo versions and retry, I have no better clue atm.

[code]

[2021-04-01 06:29] Filius-Patris commented on #318
I have the same error with version 0.6.1:
[code]
<details>
  <summary>Click to expand.</summary>

[code]
</details>

If I read correctly, this is probably an issue with the `cargo` crate.

[2021-04-01 07:14] Filius-Patris commented on #318
I have had version 1.47.0 before too. I updated now to 1.51.0 and it compiles correctly now.

@grigorys93 try running `rustup update`.

[2021-04-01 10:07] grigorys93 commented on #318
Updating worked, thank you!

For other inexperienced people like myself, you might need to:

`rustup default stable-x86_64-unknown-linux-gnu`
or
`rustup default nightly-x86_64-unknown-linux-gnu`
or something similar before you
`rustup update`

To see all toolchains:
`rustup toolchain list`

[2021-04-01 10:07] #318 closed

[2021-04-11 17:49] MarcoIeni commented on #255
The issue is still opened. Should this be closed?

[2021-04-11 17:53] #255 closed

[2021-04-12 08:08] SkamDart opened #325 "Git SSH URL Support"
The [Github Docs](https://docs.github.com/en/enterprise-server@3.0/github/getting-started-with-github/about-remote-repositories#about-remote-repositories) specify that a remote repository URL must have one of the following forms

- https://[hostname]/user/repo.git
- git@[hostname]:user/repo.git

As a result, if cargo-generate handles the former, I would expect it to handle the latter.

[code]

If

[2021-04-12 09:31] sassman commented on #325
this also slightly relates to #302.
It might be possible to implement the https and ssh/git urls with [RepoBuilder](https://docs.rs/git2/0.13.17/git2/build/struct.RepoBuilder.html) and in the best case both issues are solved.

@SkamDart your contributions are appreciated.

[2021-04-12 13:32] sassman commented on #260
Hi @NangiDev,

just wanted to check back if you still plan to create PR for the template suggestion or shall we close this issue?

[2021-04-12 13:52] sassman commented on #250
global user defined global variables are supported not yet supported but the tracking issue is #17.

So I'm closing this one.

[2021-04-12 13:52] #250 closed

[2021-04-12 13:54] sassman commented on #247
@Mubbly I will close this one caused by inactivity, but feel free to submit a PR to include the suggested template.

[2021-04-12 13:54] #247 closed

[2021-04-12 14:25] sassman commented on #249
as for reasons given above I'm going to close this one.

[2021-04-12 14:25] #249 closed

[2021-04-12 14:26] sassman commented on #229
tracking issue is #163

[2021-04-12 14:26] #229 closed

[2021-04-12 14:38] sassman commented on #221
It's very likely to be a windows / network-filesystem issue. If the issue persists feel free to reopen.

[2021-04-12 14:38] #221 closed

[2021-04-12 14:42] sassman commented on #211
relates to #291, so that partials can be used to slice and dice a project into several repositories as well.
Since this is a very specific use case I guess we won't implement a generic "pass as many templates" to compile one project out of it.

I recommend a shell function to do so.

[2021-04-12 14:42] #211 closed

[2021-04-12 14:44] sassman commented on #210
this has been implemented in [v0.6.0](https://github.com/cargo-generate/cargo-generate/releases/tag/v0.6.0)

[2021-04-12 14:44] #210 closed

[2021-04-12 14:49] #262 closed

[2021-04-20 02:11] metalwhale opened #327 "Got `SSL error` if using behind a proxy"
### The Bug
I'm getting this error while trying to use `cargo generate` behind a proxy server:
[code]
The cause seems to be related to the proxy settings on my machine, but since I have already set `HTTP_PROXY` and `HTTPS_PROXY` and the `git clone` command didn't give any error so I think this bug may be not about `git` itself but `cargo-generate`.

### Assumption
I think this bug is caused by the

[2021-04-20 05:52] sassman commented on #327
Thanks for the detailed bug report.
I think writing a test first will bring clarity if the assumptions uphold.

However, if so, then we need to figure out if there are cases where the auto detect for proxy settings can cause harm and screw up git URL's where no proxy setting is there.

[2021-04-30 15:13] #260 closed

[2021-05-10 11:06] Lebed-kun opened #340 "Installation error"
[code]

Wasm pack installation says that it can't find Rustup installation, though Rustup is installed on my system.

[2021-05-10 11:47] sassman commented on #340
Hi @Lebed-kun,

not sure how you ended up here, since cargo-generate is not directly related to wasm-pack, but let me try to help you anyways.

Did you try to run `| sh` so without sudo? like the full command:

[code]

[2021-05-10 16:19] aikcn opened #341 "could not compile cargo-generate"
error: linking with `cc` failed: exit code: 1
  |
  = note: "cc" "-m64" "-arch" "x86_64" "-L" "/.rustup/toolchains/stable-x86_64-apple-darwin/lib/rustlib/x86_64-apple-darwin/lib" "/Downloads/cargo-generate-0.6.1/target/debug/deps/cargo_generate.24tbpm6nt480co8m.rcgu.o" "/Downloads/cargo-generate-0.6.1/target/debug/deps/cargo_generate.2l44pf2s4ffriyu6.rcgu.o" "/Downloads/cargo-generate-0.6.1/target

[2021-05-10 18:11] sassman commented on #341
Could you please check if you have a gcc installed?

[2021-05-11 02:22] aikcn commented on #341
TKS!

Apple clang version 12.0.0 (clang-1200.0.32.29)
Target: x86_64-apple-darwin19.6.0
Thread model: posix
InstalledDir: /Library/Developer/CommandLineTools/usr/bin

[2021-05-11 07:33] sassman commented on #341
I found a very similar (maybe the same root cause) issue [here](https://github.com/rust-lang/git2-rs/issues/180).

Maybe it is worth to try out with vendored ssl too. `cargo install cargo-generate --features vendored-openssl`
Can you also provide the macOS version you're running?

[2021-05-11 09:22] aikcn commented on #341
Thank you too much!
I found a solution: https://stackoverflow.com/questions/57734434/libiconv-or-iconv-undefined-symbol-on-mac-osx

[2021-05-11 09:28] #341 closed

[2021-05-11 09:32] sassman commented on #341
Was this the Final command That fixed it for you?

`sudo port deactivate libiconv`

[2021-05-11 15:04] aikcn commented on #341
yes

[2021-05-12 15:32] joshrotenberg commented on #299
I'm a 👍 on an mdbook for what its worth. READMEs are good, too, but I find mdbooks easier to read and navigate, especially as the options and complexity increase.

[2021-05-12 15:38] joshrotenberg commented on #327
If its not a duplication of work you've already started, I'd like to give this a go.

[2021-05-15 01:16] hengaini2055 opened #343 "cargo generate --git ssh://git@github.com/rustwasm/wasm-pack-template Git Error: failed to connect to github.com"
Why this command is error? My git clone is ok on my ubuntu 2004.
[code]

[code]
And my ./.cargo/config have net.git-fetch-with-cli =true settings.

[code]

[2021-05-15 01:25] hengaini2055 commented on #343
My ubuntu 2004 is created by multipass on HOST windows 10。

[2021-05-15 09:50] sassman commented on #343
You're using a ssh url, those are at the moment not supported.

Please use the https url of the repo then it should work.

[2021-05-15 10:23] hengaini2055 commented on #343
Thanks @sassman . I use `https://rustwasm.github.io/docs/book/game-of-life/hello-world.html` command `cargo generate --git https://github.com/rustwasm/wasm-pack-template`, that is not work properly.

[2021-05-15 10:24] hengaini2055 commented on #343
[code]
Before this operation, I execute the command `git config --global --unset url.ssh://git@github.com/.insteadof`

[2021-05-15 14:48] sassman commented on #343
Could you please list all your git settings?

And can you ping github.com?

Can you do a git clone of this repo?

[2021-05-15 16:09] hengaini2055 commented on #343
I can git clone,but I cannot ping github. com.

[2021-05-15 17:24] sassman commented on #343
Ok, can you `curl https://github.com`?

[2021-05-15 23:01] hengaini2055 commented on #343
When I use ssh insteadof parameter, I can git clone; I cannot https://github.com
[code]
My OS is ubuntu 2004 made using multipass on window10,  HOST PC have Lantern as VPN.

[2021-05-16 08:16] sassman commented on #343
I'm very sorry but the issue must be related to your networking (maybe a http proxy server) setup.

It's not cargo-generate specific.

For the ssh urls there is a tracking issue #325

I recommend checking if your firewall or host os networking works expected.

[2021-05-16 08:20] #343 closed

[2021-05-16 15:19] akcgjc007 opened #344 "vendored openssl issue: build failed on Ubuntu 20.04.2 LTS"
### Error
I am using `cargo install cargo-generate --features vendored-openssl` to install `cargo-generate` but it giving me some OpenSSL error.
[code]

### cargo version:
[code]
### rustup version:
[code]

I installed rustup from `curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh`.

[2021-05-17 10:41] sassman commented on #344
What's the OpenSSL version you have installed?

[2021-05-17 11:19] akcgjc007 commented on #344
[code]

[2021-05-17 13:05] sassman commented on #344
Sorry, I should have been more precise. What I actually meant was the OpenSSL development package version?

I believe `libssl-dev` on Ubuntu.

[2021-05-17 13:56] akcgjc007 commented on #344
Will that help?
[code]

[2021-05-17 15:08] sassman commented on #344
I could successfully reproduce that issue on a fresh docker container based on `ubuntu:20.04`

To fix it you need a couple of [other dependencies](https://github.com/rust-embedded/cross/blob/c183ee37a9dc6b0e6b6a6ac9c918173137bad4ef/docker/openssl.sh), namely:

- gcc
- m4
- ca-certificates
- make
- perl

after installing all of them everything was build.

[2021-05-17 15:22] sassman commented on #302
will close this one, and promote #325 to the tracking issue.

[2021-05-17 15:22] #302 closed

[2021-05-17 22:40] akcgjc007 commented on #344
Thanks @sassman . It is working now!

The command for installing dependencies:
[code]

[2021-05-17 22:40] #344 closed

[2021-05-26 06:41] jhunnius opened #350 "error: failed to run custom build command for `curl-sys v0.4.43+curl-7.76.0` on cygwin (Windows 10)"
I'm not an expert in how the dependency system works, so I'm not sure whether the issue is in cargo-generate or cargo (the last dependency that the build tried to compile). Maybe it could help to specify an explicit version of curl-sys and curl, or cargo.

Update: Building cargo-0.53.0 itself (git clone https://github.com/rust-lang/cargo && cd cargo && cargo build --release) throws the same error,

[2021-06-20 22:47] k0pernicus commented on #350
Hi @jhunnius,
It seems related to this issue: https://github.com/rust-lang/cargo/issues/9509, which has been closed / fixed recently.

Will close this one then :)

[2021-06-20 22:47] #350 closed

[2021-06-27 02:13] notdanilo opened #359 "cargo install cargo-generate fails"
* Ubuntu 20.04.2 LTS
* cargo 1.46.0 (149022b1d 2020-07-17)

[code]

[2021-06-27 02:24] notdanilo commented on #359
I just tried to install the commit: `9f51d9ea2ae20b3c36885fdc78015e5a13b133e4` and it `Compiling liquid v0.22.0` also fails:

[code]

[2021-06-28 11:22] k0pernicus commented on #359
Hi @notdanilo,

I tried using the latest `rustc` version on `master` and it compiled fine.
Using the same `rustc`  version, on the commit `9f51d9ea2ae20b3c36885fdc78015e5a13b133e4`, same thing: everything was fine.
I switched then to your `rustc` version (I suppose it is 1.46.0 depending of the `cargo` version), tried to compile and it broke indeed because `cargo-generate` is using a feature that

[2021-06-29 09:24] sassman commented on #359
@notdanilo was the upgrade solving your issue?

[2021-06-29 09:25] #196 closed

[2021-06-29 09:27] sassman commented on #226
not more needed, because of custom variables.

[2021-06-29 09:27] #226 closed

[2021-06-29 12:36] sassman commented on #122
@michelepagot I remember to have it tried once with `git-bash` and that worked nicely. But maybe there is a more powershell-ish way of doing things, not sure since I'm not a windows user.

[2021-06-29 12:41] notdanilo commented on #359
I will try it soon!

Em ter., 29 de jun. de 2021 06:24, Sven Assmann ***@***.***>
escreveu:

[2021-06-29 13:23] notdanilo commented on #359
It worked! Thanks.

[2021-06-29 13:23] #359 closed

[2021-06-29 14:43] notdanilo commented on #159
Is there any progress being made for this issue?

[2021-06-29 17:20] violetastcs opened #360 "Get SIGSEGV when I try to install"
Hello, when I try to install this via `cargo install cargo-generate`, eventually I get the error:
[code]

I am on Alpine Linux. `uname -a`:
[code]
(Ignore the "archlabs" part, that's just my hostname)

[2021-06-30 16:49] sassman commented on #360
@violetastcs that is very interesting.
For curiosity could you may try out `cargo install --locked cargo-generate` and see if that appears there too?

[2021-07-01 22:08] #327 closed

[2021-07-05 22:46] #204 closed

[2021-07-05 22:48] #151 closed

[2021-07-07 06:15] aith opened #367 "Terminal Crashes on use"
When I try to run any
[code]
like
[code]
my terminal crashes on Ubuntu 20.04. Does cargo generate store crash logs?

[2021-07-07 06:50] sassman commented on #367
Hi @aith,

that sounds serious. Can you give me a better idea what's that terminal crash of yours then looking like?
Is your shell ending? Is your graphical console terminating? Or is there any sort of error message that you could share?

[2021-07-07 17:20] aith commented on #367
The terminal ends- unsure about the shell. I'm unable to find any error messages. Here's what it looks like:

https://user-images.githubusercontent.com/62635784/124802004-5abefe00-df0c-11eb-9c0c-4f0c64d55ea7.mp4

[2021-07-07 21:29] sassman commented on #367
thanks for the additional infos. I'm a bit clueless tbh, not sure what we can do about it.
IMO this is an issue of st handling maybe colors or other things not very well.

Maybe I'll find the time to verify this in a virtualbox or so. But frankly, you may want to get in touch with the st maintainers, maybe they're aware of any issue (or are thankful for a bug report like this :)

In theory a when

[2021-07-08 00:59] aith commented on #367
Ah I figured it out- st crashes with the emojis shown when using 'cargo generate'

[2021-07-08 00:59] #367 closed

[2021-07-08 22:19] morenol opened #370 "Docker image with cargo-generate"
What do you think about offering an official docker image with cargo generate installed?

Other rust projects offer an official docker image for their CLI, for instance:

https://github.com/xd009642/tarpaulin/blob/develop/Dockerfile

This could be useful for multi stage docker builds that uses cargo-generate

I can work on adding that to this repo if you think that it is ok

[2021-07-13 12:24] sassman commented on #370
That is an interesting idea. The example with tarpaulin is maybe not the best one, because there a docker image makes a lot of sense since tarpaulin cannot run on windows or mac, hence people would probably rely on the docker on the unsupported platforms.

For cargo-generate I'm not sure if that is really needed, since it runs on all platforms without any feature restrictions.

But since you menti

[2021-07-13 16:13] #325 closed

[2021-07-16 12:40] gnut-neygun opened #375 "Error on Windows: Git Error: Error cleaning up cloned template"
I got the above error while running:
`cargo generate --git https://github.com/rustwasm/wasm-pack-template.git --name my-project`

Here's the full output:

This is on Windows 10, with cargo version 1.53 and rustc 1.53

[2021-07-16 12:46] sassman commented on #375
Thanks for the report, I would need few more specific insights.

What shell do you use?
And from which folder (full path) do you call cargo generate?

[2021-07-16 13:57] gnut-neygun commented on #375
I used powershell, cmd, and the built in project wizard provided but Rust plugin in IntelliJ. All same error.
I call it from E:\Experimentation , so normal path with no special character or white spaces.

[2021-07-17 02:16] kabirz commented on #375
I have the same problem on windows 10.

[2021-07-17 08:32] sassman commented on #375
I was able to reproduce it now and got the following insights:

[code]

so there is for unknown reasons this problem, it happens only on windows so far:

[2021-07-18 06:46] #375 closed

[2021-07-18 07:20] sassman commented on #375
the issue is solved in [v0.7.1](https://github.com/cargo-generate/cargo-generate/releases/tag/v0.7.1).

The problem originated to a windows process blocking error, that happened when the `.git` folder cleanup was triggered.
At the time of deletion (on windows) still some git related process locks where active. Making sure that all git related structs got dropped before the mentioned delete action

[2021-07-18 08:55] sassman commented on #360
@violetastcs is this problem still present?

[2021-07-18 09:22] gnut-neygun commented on #375
That was some incredibly fast fix. Thanks @sassman !

[2021-07-21 23:13] jashandeep-sohi opened #378 "Prebuild Binaries Again"
`cargo-generate` is useful enough outside of the Rust ecosystem for templating projects that it's worth while to have pre-built binaries available for non-Rustaceans. Also nice to have a single source of truth to pull binaries from for any CI jobs.

Looks like `v0.5.1` was the last release with binary assets attached. PR #377 does something similar via GH Actions.

[2021-07-21 23:40] sassman commented on #378
lgtm.

Thanks for your contribution, very appreciated.

[2021-07-22 00:28] sassman commented on #378
@jashandeep-sohi do you know if there is a delay between the GH Release creation and the GH Actions workflow being triggered?

I'm asking because the GH Release for `v0.7.2` should have triggered the workflow already, but this did not happened to now (15min past the trigger). Maybe that is expected behaviour thou.

[2021-07-22 00:30] jashandeep-sohi commented on #378
Huh...interesting. When I was testing manually it was immediate. Let me look into it.

[2021-07-22 00:34] jashandeep-sohi commented on #378
@sassman Ahhh turns out if you make API requests using the auto generated Actions `GITHUB_TOKEN` it doesn't generate any events apparently to prevent "accidentally creating recursive workflow runs". :roll_eyes: https://docs.github.com/en/actions/reference/events-that-trigger-workflows#triggering-new-workflows-using-a-personal-access-token

[2021-07-22 00:34] sassman commented on #378
You have created and published the GH Release manually right? It might be that this is the key to get it working.

[As you can see](https://github.com/cargo-generate/cargo-generate/actions/runs/1054413575/workflow) the workflow takes care of creating the GH Release, so that might then not trigger follow-ups.

[2021-07-22 00:37] jashandeep-sohi commented on #378
I can either rework this so that it's part of the main release workflow or you can create a personal access token for the job?

[2021-07-22 00:37] sassman commented on #378
What might help, is to change the `on` trigger to something like shown here:
<img width="255" alt="image" src="https://user-images.githubusercontent.com/329682/126576350-7aaca228-216b-4200-b99e-572b4b36d9f5.png">

So the event would not be the GH Release creation, but the successful completion of the "Release" workflow run

[2021-07-22 00:38] jashandeep-sohi commented on #378
True, that might work too.

[2021-07-22 00:39] sassman commented on #378
I'd rather not do this, in favour of smaller separated pipelines.

I will also have a look at this then.

[2021-07-22 00:40] jashandeep-sohi commented on #378
Actually maybe no. The release event has info about the git sha & branch name. I don't know if a workflow completed event would have it too.

[2021-07-22 01:00] jashandeep-sohi commented on #378
Agreed, but PATs have their own security problems. i.e. you can't scope them to a particular repo and they're associated with a github account (not the repo or org)

[2021-07-22 08:20] sassman commented on #378
I've prepared a GH PAT and made small adjustments on the pipelines. Let's see how this works out.

For v0.7.2 I've worked around the problem by deleting and recreating the GH Release, and all artefacts had been created as expected.

Thanks for your work and help!

[2021-07-22 08:20] #378 closed

[2021-07-26 08:21] sassman opened #383 "robust tests for ssh repo interaction"
required is:
1. should work on GH Actions for PRs of Forks
2. should cover public access via ssh
3. should cover private access via ssh
4. current tests are skipped at https://github.com/cargo-generate/cargo-generate/blob/69fa06063c6ceb64afcf7e9eb72b0a70a777e2c1/tests/integration/basics.rs#L1169

possible solutions:
- create a random ssh key as part of the test (e.g. in the ProjectBuilder)
- creat

[2021-07-26 15:59] jashandeep-sohi opened #384 "change ssh private key default to ed25519 before checking for rsa"
Currently, only RSA keys are supported: https://github.com/cargo-generate/cargo-generate/blob/528bf381807201bf91103dd3ca50bcca90365a5c/src/git.rs#L119

However, more and more people are defaulting to `ed25519`(myself included). Having to setup a `rsa` key just for `cargo-generate` is not ideal.

`cargo-generate` should at least support `ed25519` keys as well.

Edit: I realize I could manually over

[2021-07-26 17:50] #201 closed

[2021-07-26 19:12] sassman commented on #384
My proposal would be to try a couple of defaults and what ever is there will be used. With this given order:
- RSA id_rsa
- ed25519

Anything else that folks are using that is not mentioned in the list above?

[2021-07-26 19:34] jashandeep-sohi commented on #384
This also got me thinking about something else. What happens when keys are password protected (or more recently require a security key to unlock). Wouldn't it just be better to delegate all of this to `ssh-agent` via https://docs.rs/git2/0.7.5/git2/struct.Cred.html#method.ssh_key_from_agent or any credential helper via https://docs.rs/git2/0.7.5/git2/struct.Cred.html#method.credential_helper

[2021-07-26 23:21] sassman commented on #384
those are very valid points. I'll toy around with them in order to understand the behaviour in cases there no `ssh-agent` is running or the credential helper fails to figure things out.

But I guess we can extend the scope of this issue to support also arbitrary protected private keys, not only elliptic curve keys.

[2021-07-27 13:02] taurr commented on #46
I do like this proposal, but I do have second thoughts on the order.

if

is the `--template-values-file` argument, then I agree (and we should add that argument to the favorite definition)

Otherwise I'd like to suggest this order:
1. CLI variable definitions (is `-d` already used, makes sense to use it as 'define' as used in other CLI's)
2. Env vars (prepended with `CARGO_GENERATE_`?)
3. Vars fr

[2021-07-27 18:40] csarn commented on #159
I am also interested in this feature. Python's "cookiecutter" does that, too.

[2021-07-29 14:02] NOBLES5E opened #387 "Allow template from a directory instead of a git repo"

[2021-07-29 23:52] sassman commented on #291
is solved by #379

[2021-07-29 23:52] #291 closed

[2021-07-30 00:12] sassman commented on #159
solved with #386 and released in v0.8.0

[2021-07-30 00:12] #159 closed

[2021-07-30 00:22] #40 closed

[2021-07-30 07:14] sassman commented on #387
do you mean to support something like this:

[code]

[2021-07-30 07:18] NOBLES5E commented on #387
Exactly! I didn't notice that the folder can be passed directly as an argument. Thanks!

[2021-07-30 07:24] NOBLES5E commented on #387
I tried the example you gave but found the following error:

[code]

[2021-07-30 07:30] taurr opened #389 "FEA: specify `template_values_file` in multiple places"
This issue takes over from an old attempt of my own (#296), and here's the idea...

What I'd like to end up with is:

1. Be able to specify default `template_values_file` in the global `.cargo-generate.toml` file
    * Maybe specify values directly in a `[values]` section?
2. Override values with `template_values_file`, definable for each defined favorite.
    * Maybe specify values directly in a

[2021-07-30 07:33] sassman commented on #387
It's not yet supported.

But iirc we had once a small prototype that did the trick. So eventually this feature will land it short time.

[2021-07-30 07:44] NOBLES5E commented on #387
glad to hear that

[2021-07-30 10:03] sassman opened #391 "abbreviation support for gitlab and bitbucket users"
At the moment I can point to a github repo like this:
[code]

In order to support also gitlab and bitbucket users I'm proposing a prefix that would expand to the full url like this:
[code]

So essentially we have the 3 abbreviations:
- Github: `gh`
- GitLab: `gl`
- Bitbucket: `bb`

#### Note: for compatibility and convenience reasons the `gh:` abbreviation remains optional and GitHub remains the d

[2021-07-30 10:25] sassman commented on #389
Could you elaborate how this would look like?

--

This would open up some flexibility and is a nice idea.

--

This is a very good idea!
I would even dedicate an own PR for it. It would add lot's of flexibility to users, and is very easy to use. IIRC folks have even asked for this somewhere (cannot find the issue now).

[2021-07-30 10:33] #387 closed

[2021-07-30 10:33] sassman commented on #387
Will be released with the next version.

[2021-07-30 11:52] taurr commented on #389
Example global `.cargo-generate.toml` file for the possibilities above...

[code]

... Come to think about it, I'd like to propose that in between step 1 and 2, we could support the same syntax for specifying default values directly in the `cargo-generate.toml` stored in the template.

[2021-07-30 17:39] taurr commented on #76
It doesn't need to be a requirement - we could just support the version check if the template has a `cargo-generate.toml` file, and ignore it if it doesn't.

That way, we get to support version checking _without_ adding any new requirements.

[2021-07-31 09:17] taurr commented on #389
... seems this one would solve #46

[2021-08-03 18:46] sassman commented on #389
In principle I like the proposal.

Just a couple of things we need to consider.

1. a default value provided on the root level might not be valid for all favorites
    - for example on the root level `foo = true` is bool, but might be used inside of a favorite as string or as a choice parameter, this would cause a conflict and needs to be validated
2. default files on all level should (tbd) be con

[2021-08-04 15:59] dave-tucker opened #396 "using pattern in dir doesn't work correctly"
my pr #395  doesn't actually work.

for one, I forget to `mkdir -p` before write, so there are issues with the dir not being created.
also, when I've generated using a test project, I end up with duplicate directories.
e.g `{{author}}/main.rs` and `foo/main.rs`

i'll look in to this, add an integration test and open a pr to fix.
sorry!

[2021-08-05 13:21] taurr commented on #389
Regarding the order, individual values should always have higher priority than those from a file; e.g. `--define` over `--template-values-file`

Other that that, I suggest this priority:

1. Command line
2. ENV vars (`CARGO_GENERATE_VALUE_<name>`)
3. Favorite definition
4. Defaults

Regarding the complexity of value types - what happens today, if the user specifies a wrong type?
The implementation

[2021-08-06 14:27] #396 closed

[2021-08-06 23:26] taurr opened #400 "Better support for choice lists with many choices"
Using a `choice` placeholder with a lot of options is currently not feasible, as the number of choices scroll off the screen in the interactive mode and makes it next to impossible to select anything.

We should implement e.g. paging to handle when there are more choices than can naturally fit in the terminal.

It would be super if it also was possible to search in the choice list.

[2021-08-08 11:12] MarcoIeni opened #401 "TEMPLATES.md: add number of stars of each template"
What do you think about putting a badge like ![GitHub Repo stars](https://img.shields.io/github/stars/rust-github/template?style=social) next to each template in the [TEMPLATES](https://github.com/cargo-generate/cargo-generate/blob/master/TEMPLATES.md) file?
[code]
In this way the reader can have additional info about the templates without opening all of them.

[2021-08-09 07:17] taurr opened #402 "Define outcome & test with invalid/undefined template values"
What happens if we define e.g. a choice parameter in `cargo-generate.tom`, but then assigns an invalid choice in the `template_values_file` or via the `--define` flags?

What about boolean, integer?

This issue came up as part of #392

[2021-08-10 00:34] taurr commented on #370
@sassman Could you please have a look at my example repo: https://github.com/taurr/cargo-generate-action

If we have a docker hub account for this repo, we could add the needed files here, and thus have an official github action for expanding templates.

This will help testing templates a lot, as one can just expand the template(s) and build/test the output in a workflow.

Of course there's always

[2021-08-10 06:35] sassman commented on #370
I like the idea a lot, the other day I thought also about better template testability but I did not think of an GH Action to simplify the process.

I'll set the things up and prepare a repo here. Do you want to PR the thing over or should I just clone+push it and naming you as the author?

[2021-08-10 07:28] taurr commented on #370
Stuff needs to be changed a little in the process - my repo here was basically a proof of concept.

If we're doing it the PR way (can we actually, considering there's no relationship between the repos?), you would have to do changes anyway as I can't setup e.g. the dockerhub token secret.

I suspect that you just cloning/stealing is the easiest. Note: the example I put in the readme is actually fr

[2021-08-10 10:29] taurr commented on #402
What will/should happen if we use a variable that is not defined in `cargo-generate.toml`?

What if it is assigned via e.g. `--define`?

Is `cargo-generate.toml` only there to allow us to know the types of values we can query interactively?

[2021-08-10 20:00] taurr commented on #400
As info and testing, try out:

[code]

it's my template for a complete embedded application using ferrous tooling, still in the works.

[2021-08-11 07:11] MeirKriheli opened #405 "Suggestion: Cancel the need for PRs to maintain `TEMPLATES.md`"
As the number of templates grows, it'll get harder to maintain `TEMPLATES.md`.

Instead, templates should tag them self as `cargo-generate` topic or something similar, negating needed PRs for new templates.

Have  README link to that topic for available templates. See  [cookiecutter](https://github.com/topics/cookiecutter) for example, and [Classifying your repository with topics](https://docs.git

[2021-08-11 16:38] sassman commented on #405
I like the idea. It's yet another convenience mechanism to discover template and make template contributions simple.

For now I'd like to keep the TEMPLATES.md to not loose those templates but would clearly encourage people to use the topics approach.

[2021-08-11 16:44] sassman commented on #402
My takes here are

- undefined variables can be provided without harm, they will simply not be used in the template and all is good
- if the type does not match an expected type (e.g. boolean is expected but a string is given) then we could do:
    - try parse the given value as the type we expect
    - print a warning if parsing failed and assign a default (e.g. `Default::default()`)
    - print

[2021-08-11 16:46] sassman commented on #401
A nice idea.

But it might be that we want to favor the suggestion of in #405 to lower the entry barrier to provide templates.
Then the question is if this improvement still is worth the effort.

[2021-08-11 16:53] sassman commented on #370
I'm already on a refactor journey. Docker hub account is in place and things will come a long.

[2021-08-11 16:58] sassman commented on #400
I see. But instead of us tackling this issue I'd recommend we upstream that issue to the `dialoguer` crate maintainers, since I cannot imagine we are the only ones interested in a solution for this issue.

I found https://github.com/mitsuhiko/dialoguer/issues/118 that is slightly but none that is directly addressing this very issue.

[2021-08-11 17:01] sassman commented on #400
upstream issue is opened

[2021-08-11 17:06] riverar opened #406 "cargo-generate doesn't work with repos in 'detached HEAD' status"
Repro:
1. Create `dummy` directory
2. `git init`
3. Add a `dummy` file
4. `git add dummy`
5. `git commit -m "Initial commit"`
6. Edit `dummy`
7. `git add -u`
8. `git commit -m "Commit 2"`
9. `git checkout HEAD^`
10. `cargo generate --name dummy --git .\`

[code]

This is a common state to be in during PR CI scenarios.

Treating a checked out template as a folder, as opposed to a repo, would help a

[2021-08-11 17:13] taurr commented on #405
Then lets do a small write about it in the README.md. @MeirKriheli are you up for a little PR?

It's been a while since we featured in [This week in Rust](https://this-week-in-rust.org).... It'd be nice if we had a blogger amongst us as the amount of new stuff getting into `cargo-generate` is quite substantial. Then we should be features again, just to show there's traction.

[2021-08-11 21:41] deg0nz commented on #400
Searching would be possible via recently merged `fuzzy-search` feature, but it currently does not support paging. (Just FYI)

[2021-08-12 20:17] MeirKriheli commented on #405
@sassman you're fast, was planning to on the PR tonight :-)

[2021-08-12 20:24] sassman commented on #405
@MeirKriheli ypu can still contribute with review and improvement suggestions :)

[2021-08-13 07:16] #405 closed

[2021-08-13 16:04] taurr opened #408 "Allow `cargo-generate.toml` as alternative to `cargo-generate` for app config"

[2021-08-13 20:02] taurr commented on #406
I agree on this - also useful when developing the templates as `cargo-generate` wouldn't try to do a `git clone` of the template, which leads to the issues you describe.

I would suggest to use `--path` though. Solely based on preference, and becase e.g. `cargo install` uses `--path` for this type of specification. Oh... and looking at `git --help` or basically any other CLI tool... `path` seems t

[2021-08-13 20:08] taurr commented on #46
I guess this issue can be closed with #389 ?

[2021-08-13 20:49] sassman commented on #406
The "path" to go 😁

[2021-08-15 07:49] taurr commented on #401
I'd say #405 makes this issue irrelevant.

No we can just [locate templates on github](https://github.com/topics/cargo-generate).

[2021-08-15 08:28] taurr commented on #400
Just tried using newest dialoquer (via git dependency), enabling the "fuzzy-select" feature, then in `interactive.rs`:64 changing to use `FuzzySelect::with_theme` instead of `Select::with_theme`

Works like a charm 😄

Now we're just waiting for a fix to mitsuhiko/dialoguer#125 and a release, then this issue can be closed (with the above corrections).

[2021-08-15 09:15] taurr commented on #230
Variables **can** be supplied via cli arguments now.

But we still need a way to selectively include files don't we (or maybe as a filter upon `.genignore`)?

[2021-08-15 09:27] taurr commented on #79
Nowadays we actually get

`Error: ⛔   Git Error: unexpected http status code: 404; class=Http (34)`

(404 = Not found, which is correct for a bogus URL)
or

`Error: ⛔   Git Error: unexpected http status code: 400; class=Http (34)`

(400 = Bad Request, which can also be correct as in this case I used the <username>/<repo> syntax, and github found the user, but not the repo)

[2021-08-15 17:16] MarcoIeni commented on #401
Agree!

[2021-08-15 17:16] #401 closed

[2021-08-15 18:26] taurr commented on #230
I actually like the idea of doing this in the `cargo-generate.toml` file:

[code]

then we could do stuff like

[code]

and maybe even

[code]

to list the possible features.

[2021-08-15 18:32] taurr opened #415 "Deprecate use of `.genignore` file?"
Can we deprecate the use of `.genignore` now that include/exclude can be done in the `cargo-generate.toml` file?

Maybe at least in the `README.md`? (Better yet: remove any mention of it)

[2021-08-15 21:31] #406 closed

[2021-08-15 21:35] #408 closed

[2021-08-16 11:54] orhun opened #418 "Make `--identity` configurable in cargo-generate.toml and verbose error message"
While using `cargo-generate` as follows, it assumes that SSH private key is in `$HOME/.ssh/id_rsa` which is not always the case. Also the error message is not helpful enough:

[code]

I propose making the `--identity` argument mandatory for git-ssh checkouts, removing the `$HOME/.ssh/id_rsa` fallback and aborting with an error message if `--identity` is not provided. e.g.:

[code]

I'd like to sub

[2021-08-16 12:57] sassman commented on #418
I agree the error message is misleading and should be more specific.

I do not like to make `--identity` mandatory, because for me for example the default assumption would same me tons of typing time.

I'd rather suggest an overwriting of the default ssh identity file in the cargo-generate.toml config file in order to allow customizable identities.

[2021-08-16 13:09] orhun commented on #418
Then the error message should at least say something like `Git Error: private key path was incorrect: /home/user/.ssh/id_rsa`

That's also applicable I think. There might be an entry such as `ssh_key` which will have the default value of `~/.ssh/id_rsa` so that the user will know what's the default.

[2021-08-16 19:30] taurr commented on #47
How is "crate as a template" supposed to work?
Do we need it?

[2021-08-16 19:35] taurr commented on #78
What's needed in order to close this?

[2021-08-16 20:32] #76 closed

[2021-08-16 20:38] sassman commented on #78
I wanted to start with an example folder to demonstrate certain use cases in order to provide some simple starting points for template authors.

[2021-08-16 21:34] deg0nz commented on #400
I looked into the `cargo-generate` code and was able to identify the error that actually happens here. Please see my last comment in mitsuhiko/dialoguer#125 🙂

[2021-08-19 06:23] sassman commented on #47
One way I imagine it to work is downloading from crates.io and the. Treating it similar as a local `--path` template folder.

Not sure if we need it, because I believe that a crate that is only a template might even not compile and there for might even be not publishable.

I would say we threat this issue as solved unless some folks have a real use case for crate as template.

[2021-08-19 06:41] taurr commented on #47
Wholeheartedly agreed!

[2021-08-23 06:52] taurr commented on #193
@sassman this seems to be yet another one closed by #194 and it company

[2021-08-23 10:27] MarcoIeni commented on #18
I did a little research of what projects allow to run rust code. Here is what I found:
- https://crates.io/crates/rust-script
- https://crates.io/crates/cargo-play
- https://crates.io/crates/runner
- https://crates.io/crates/cargo-eval (fork of cargo-script which wasn't updated in 4 years)

[2021-08-23 11:08] MarcoIeni commented on #230
I think adding features is overkill since we already have custom variables.

## Example use case

We want to include conditionally `main.rs` or `lib.rs` depending if the project is a binary or a library.
When we run cargo generate with the  `--lib` flag we already set the variable `crate_type`.
Now we have all the necessary info to include:
- `main.rs` if `crate_type == bin`
- `lib.rs` if `crate_t

[2021-08-23 17:17] MarcoIeni opened #427 "`cargo_generate_version` is not respected"
I noticed that `cargo_generate_version` doesn't work. Docs [here](https://github.com/cargo-generate/cargo-generate#require-cargo-generate-version-from-template).

I created a [branch](https://github.com/rust-github/template/blob/wrong-version-test/cargo-generate.toml) were I specified ther requirement:

[code]

But cargo generate still works if I run:

[code]

Am I missing something?

[2021-08-23 17:19] sassman commented on #427
Did you use the master branch version for testing?

[2021-08-23 17:27] MarcoIeni commented on #427
Oooops, from master it works, sorry!

With the following commands it works:
[code]

[2021-08-23 17:27] #427 closed

[2021-08-23 21:33] sassman opened #430 "adding documentation for `--path`"
we miss currently the docs for #410

[2021-08-23 23:41] taurr commented on #230
@MarcoIeni, @sassman

I liked the above solution so much, I made PR #431 .

it basically allows everything described by @MarcoIeni above, while also allowing us to conditionally ignore files and have conditional placeholders.

In order to facilitate this, I made use of the liquid engine and a little toml.

Example:
[code]

The inclusion of `ignore` in `cargo-generate.toml` makes `.genignore` obsol

[2021-08-24 06:27] #47 closed

[2021-08-24 08:48] sassman commented on #189
@Geobert could you pls check if that issue is still happening with the latest version?

[2021-08-24 08:49] Geobert commented on #189
Hi, unfortunately I don't have access to the machine where I encounter this error anymore :-/ Let's close this.

[2021-08-24 08:49] #189 closed

[2021-08-24 11:50] MarcoIeni commented on #230
Great, thanks!

## conditional files

So files are not ignored if the file is empty, but if they are listed in the `ignore` list, like in:

[code]

right?

Second question: Can you list also directories in `ignore =` or just files? If directories are not included we could open a separate issue.

Third question:
Do we want to use liquid syntax? Maybe something like this looks better?
Or maybe using

[2021-08-24 14:00] k0pernicus commented on #430
I can take this one

[2021-08-24 19:05] taurr commented on #230
1) Having a file/directory in the `ignore` section works ***exactly** the same as putting it in the `.genignore` file*. Haven't tried with a dir, but it's the same code doing the ignoring! (need to find out)

2) in this case I prefer the `liquid` syntax. Though it's verbose, it's easy to expand upon, and it doesn't introduce yet a new syntax

3) String comparisons are indeed possible. Only require

[2021-08-24 22:08] taurr commented on #430
@sassman this can be closed!

[2021-08-24 22:12] MarcoIeni commented on #230
Thanks for the clarifications.
I am fine with using the liquid syntax :)

[2021-08-24 22:38] #430 closed

[2021-08-24 22:39] MarcoIeni commented on #230
What do you think of surrounding the parts of toml we want to add conditionally with the liquid condition? Something like this:

[code]

[2021-08-25 06:37] taurr commented on #230
That leaves a problem, as in order to render the toml file we would need to read and parse it first, which we can't as it's not legal toml until after the render!

The file still contains settings that are, or may become, needed before we can resolve the conditions - an example is placeholders for the variables that the conditions use. So, we would need to read the toml file in order to resolve it

[2021-08-25 16:21] taurr commented on #230
@MarcoIeni
I just added a few extra filters to the mix. They make it a little simpler to make conditions on `crate_type`.

[code]

at least to me, when having these filters, this is just as readable as the stuff we have to write in `Cargo.toml` to do conditional dependencies.

[2021-08-29 10:40] MarcoIeni commented on #230
Nice! What about `is_macro`? `macro` It's not ducumented in the readme.

[2021-08-29 17:23] taurr commented on #230
Yeah, I might have forgotten that one - there's really no way of setting `crate`type` to macro, and it _might_ have been around this time I started to doubt my own experiment, wishing for a more natural fit for the domain of evaluating expressions.

[2021-09-02 20:19] #230 closed

[2021-09-02 20:59] taurr commented on #415
@sassman please close this one - I believe I retired `.genignore` by discouraging its use in https://github.com/cargo-generate/cargo-generate/pull/431

[2021-09-02 21:03] taurr commented on #193
@sassman please close this one - we added the flag in the last version I believe

[2021-09-02 21:05] taurr commented on #370
@sassman Could we get a status update please?

[2021-09-02 21:09] #415 closed

[2021-09-06 09:47] taurr opened #447 "crate comment in `lib.rs` is wrong and misleading"
The tool has evolved a lot since the comment was written, and is both misleading and wrong.

As the comment doesn't contribute any testable examples nor any information that can't be found in a better version in `README.md`, I suggest we remove the comment entirely.

[2021-09-06 21:11] taurr commented on #92
2 options come to my mind here, of which only the 2'nd can solve this issue 100%

---
## Option 1

Use `conditionals` in `cargo-generate.toml`:
[code]

This one would ask for all the options, but at least with sensible defaults...

Not really that nice... it seems this solution is missing the possibility to specify values instead of just placeholders :nerd_face:

Oh... and you can't get a nice lis

[2021-09-07 08:00] taurr commented on #78
@sassman, I just added a folder `example-templates` to the root in #445, as I believe this will be the best way of showing/documenting that feature. If you decide to let #446 go through, then if a template contains `cargo-generate.tom`, users end up being able to expand simply by:
[code]

no matter where in the repo the templates are.

I don't know if you've had time to look into #370, but that on

[2021-09-07 15:54] taurr opened #450 "improvement: use a choice prompt instead of strings for boolean placeholders"
When specifying a placeholder of type bool, `cargo-generate` uses a prompt designed for strings.

To improve useability, consider using a choice prompt instead.

![t-rec_1](https://user-images.githubusercontent.com/7338549/132374849-665ca9cc-ffca-4b4c-aa66-3eae7e184964.gif)

[2021-09-07 16:46] sassman commented on #450
Nice, love those little QoL improvements

[2021-09-09 07:40] WillsB3 commented on #168
I also encountered this issue on macOS Big Sur, and thought I'd post my findings just incase it's helpful to anyone else.

I found thanks to some other comments above that I did not have any `insteadOf` configuration lines in my .gitconfig, but I did have this line:

[code]

Which for some reason causes the generate command to break. **When I comment out this line the generate command works as exp

[2021-09-16 21:18] sassman commented on #447
maybe you could pin point to what exactly you mean? I'm not getting the misleading thing you are referring to.

[2021-09-16 21:19] #193 closed

[2021-09-16 21:27] sassman opened #455 "`cargo test` shortcut for template authors"
As a **template author**
I want to **have an easy way to test my template code**
So that **I save time to manually generate a project, run then cargo test in it and delete the generated project again**

I imagine something like
[code]

[2021-09-16 21:34] sassman commented on #370
so the docker hub account is ready, see https://hub.docker.com/search?q=cargogenerate&type=image

However, one thing that I was thinking a bit is that the cargo-generate command for the GH action would have to take quite some assumptions and is pretty specific for the GH Actions use case.

As a user a run of cargo-generate would probably need a few less / different assumptions, so that a user can

[2021-09-16 21:35] sassman commented on #370
I hope I can prepare a little PR soon, then we can continue the discussion on code, which might help to clarify things a bit

[2021-09-16 22:04] sassman commented on #370
so I created an own repo for the GH Action at [cargo-generate-action](https://github.com/cargo-generate/cargo-generate-action)

[2021-09-17 07:57] taurr commented on #447
In general, the comment does not add information/value that is not already part of `README.md`.

It mentions stuff like what templates are and what they can do. How placeholders are specified in the config files etc. All of it is information that is part of `README.md`, and thus it **needs to be maintained both places**, and currently they are not in agreement.

For instance, the comment says:

Si

[2021-09-17 08:13] taurr commented on #370
If you really want to combine them, it'll have to be done through the `entrypoint.sh`

However, In my point of view, the main issue here is to provide the GH action so we can start testing the templates. Use of `cargo-generate` via docker is IMHO not important as `cargo-generate` is cross platform from the get-go. I really don't understand why anyone would want to use docker for executing it local

[2021-09-17 11:06] taurr opened #456 "Unable to run tests on Manjaro after upgrading `git2` to 0.13.22"
Tracing the inability to run tests leads me to believe this is a `git2` issue.
I've created https://github.com/rust-lang/git2-rs/issues/746 on their end.

This is mostly for tracking and monitoring the issue.